
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_TuvFoodLayout.cshtml";
}
@section header{
<!-- Favicon -->
<link rel="shortcut icon" href="~/AllJsAndCss/Favicon.svg" type="image/x-icon" style="height:12px;width:12px;">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<!--CSS Start Here-->
<!-- Bootstrap -->
<link href="~/Gallery/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Gallery/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Gallery/css/gallery.css" rel="stylesheet">

<!--animate-->
<link rel="stylesheet" href="~/Gallery/css/animate.min.css">
<!--animate-->
<!--fancybox-->
<link rel="stylesheet" href="~/Gallery/fancybox/jquery.fancybox.css" media="screen">
<link rel="stylesheet" href="~/Gallery/fancybox/jquery.fancybox-thumbs.css" media="screen">
<!--fancybox-->
<script src="~/Content/Css/fancybox/jquery.fancybox.js"></script>
<script src="~/Content/Css/fancybox/jquery.fancybox.pack.js"></script>
<script src="~/Content/Css/fancybox/jquery.fancybox-thumbs.js"></script>

<script src="~/Scripts/Js/equalHeight.js"></script>
}
<style>
    .col-xs-12.text-center.gallery-btn-col > ul.gallery-filter-tab > li.filtr-active, .col-xs-12.text-center.gallery-btn-col > ul.gallery-filter-tab > li.hover, .col-xs-12.text-center.gallery-btn-col > ul.gallery-filter-tab > li:focus {
    color: #fff;
}
    .col-xs-12.text-center.gallery-btn-col > ul.gallery-filter-tab > li {
    color: #000;
}
</style>
<!--End of header-->
<!--Start of page content-->

<div class="container-fluid page-content-bg sm-mt-50">
    <div class="row assignfixedwidth">
        <div class="col-xs-12 white-content-bg">

            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="basic-heading">Gallery</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center gallery-btn-col">

                    <ul class="gallery-filter-tab">
                        <li class="filtr-active" data-filter="all">All</li>
                        <li data-filter='2019'>2019</li>
                        <li data-filter='2018'>2018</li>
                        <li data-filter='2017'>2017</li>
                    </ul>

                </div><!-- end of col -->
            </div><!-- end of row -->

            <div class="row display-flex filtr-container">

                <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category='2019'>

                    <a class="fancybox-thumbs gallery-thumb" data-fancybox-group="gallery1" href="images/PhotoGallery/test-gal-1.JPG">
                        <img src="images/PhotoGallery/test-gal-1.JPG" alt="" />
                        <p class="gallery-thumb-title">53rd Annual General Meeting</p>
                        <p class="gallery-thumb-date">22 September 2019</p>
                        <p class="gallery-thumb-calltoaction">View Gallery</p>
                        <span class="gallery-icon">
                            <i class="fa fa-folder-open-o"></i>
                        </span>
                    </a><!--end of thumb-->
                    <div class="pointer">
                        <a class="fancybox-thumbs hidden" data-fancybox-group="gallery1" href="images/PhotoGallery/test-gal-2.JPG"><img src="images/PhotoGallery/test-gal-2.JPG" alt="" /></a>
                    </div><!--end of gallery-->

                </div><!-- end of col: filter-item::yearly folder -->
                <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category='2018'>

                    <a class="fancybox-thumbs gallery-thumb" data-fancybox-group="gallery2" href="images/PhotoGallery/test-gal-3.JPG">
                        <img src="images/PhotoGallery/test-gal-3.JPG" alt="" />
                        <p class="gallery-thumb-title">52nd Annual General Meeting</p>
                        <p class="gallery-thumb-date">03 October 2018</p>
                        <p class="gallery-thumb-calltoaction">View Gallery</p>
                        <span class="gallery-icon">
                            <i class="fa fa-folder-open-o"></i>
                        </span>
                    </a><!--end of thumb-->
                    <div class="pointer">
                        <a class="fancybox-thumbs hidden" data-fancybox-group="gallery2" href="images/PhotoGallery/test-gal-4.JPG"><img src="images/PhotoGallery/test-gal-4.JPG" alt="" /></a>
                    </div><!--end of gallery-->

                </div><!-- end of col: filter-item::yearly folder -->
                <div class="col-xs-12 col-sm-4 col-md-4 filtr-item" data-category='2017'>

                    <a class="fancybox-thumbs gallery-thumb" data-fancybox-group="gallery3" href="images/PhotoGallery/test-gal-5.JPG">
                        <img src="images/PhotoGallery/test-gal-5.JPG" alt="" />
                        <p class="gallery-thumb-title">51st Annual General Meeting</p>
                        <p class="gallery-thumb-date">31 January 2017</p>
                        <p class="gallery-thumb-calltoaction">View Gallery</p>
                        <span class="gallery-icon">
                            <i class="fa fa-folder-open-o"></i>
                        </span>
                    </a><!--end of thumb-->
                    <div class="pointer">
                        <a class="fancybox-thumbs hidden" data-fancybox-group="gallery3" href="images/PhotoGallery/test-gal-6.JPG"><img src="images/PhotoGallery/test-gal-6.JPG" alt="" /></a>
                    </div><!--end of gallery-->

                </div><!-- end of col: filter-item::yearly folder -->

            </div><!-- row : filter-container -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
<!--End of page content-->
@section footer{
    <!--Scripts Start Here-->
@*<script src="~/Gallery/js/jquery-1.11.3.min.js"></script>
<script src="~/Gallery/js/bootstrap.min.js"></script>*@

<!-- Owl Carousel -->
<!-- <script src="owl/owl.carousel.min.js"></script> -->
<!--animate-->
<script src="~/Gallery/js/animation.js"></script>
<!--animate-->
<!--filterizr-->
<script src="~/Gallery/js/jquery.filterizr.js"></script>
<script>
        $(function () {
            $('.filtr-container').filterizr();
            $('.gallery-filter-tab li').click(function() {
		        $(this).addClass('filtr-active');
        		$(this).siblings().removeClass('filtr-active');
		    });
        });
</script>

<!--fancybox-->
<script src="~/Gallery/fancybox/jquery.fancybox.js"></script>
<script src="~/Gallery/fancybox/jquery.fancybox.pack.js"></script>
<script src="~/Gallery/fancybox/jquery.fancybox-thumbs.js"></script>
<script>
    	$(function () {
    	$('.fancybox-thumbs').fancybox({
            prevEffect : 'none',
            nextEffect : 'none',

            closeBtn  : true,
            arrows    : true,
            nextClick : true,

            helpers : {
                thumbs : {
                    width  : 88,
                    height : 50
                }
            }
        });
        });
</script>
    }