@model TuvVision.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TIIMES - Welcome to TUV India</title>

    <link rel="shortcut icon" href="~/AllJsAndCss/Favicon.svg" type="image/x-icon" style="height:12px;width:12px;">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="~/AllJsAndCss/css/bootstrap.min.css" rel="stylesheet">

    <!-- Start Other stylesheets -->
    <link href="~/AllJsAndCss/css/style.css" rel="stylesheet">
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!--AOS animate-->
    <link href="~/AllJsAndCss/css/aos.css" rel="stylesheet">

    <!-- End Other stylesheets -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/AllJsAndCss/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/AllJsAndCss/js/bootstrap.min.js"></script>

    <!-- Start Other script files -->
    <!--AOS animate-->
    <script src="~/AllJsAndCss/js/aos.js"></script>
    <script src="~/AllJsAndCss/js/aos-call.js"></script>

    <script src="~/AllJsAndCss/js/custom.js"></script>
    <script src="~/AllJsAndCss/js/scroll-to-top.js"></script>
    <script src="~/AllJsAndCss/js/navigation-top-fixed.js"></script>
    <!-- End Other script files -->

</head>
<body class="main-bg">
    <div class="overlay"></div>
    <!--Start of content-->

    <div class="container-fluid min-height-100vh">
        <div class="row assignfixedwidth">
            <div class="hidden-xs hidden-sm col-md-6 text-center">
                <img src="~/AllJsAndCss/images/change-password2.png" />
                @*<img src="~/AllJsAndCss/images/login/welcome-person.png" class="login-welcome-person" alt="">*@
            </div><!--End of cartoon col-->
            <div class="col-xs-12 col-md-6">
                <div class="login-form-box" data-aos="zoom-in" data-aos-duration="400" data-aos-once="true">
                    @using (Html.BeginForm("ForgotPassword", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form>
                            <img src="~/AllJsAndCss/images/logo.png" class="login-logo" alt="">
                            <h5 style="text-decoration-color:blue;">Forgot Password</h5>
                            <br />
                            <br />
                            <div class="form-group">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @*<input type="email" class="form-control" placeholder="Email">*@
                            </div>
                          
                            
                            <button type="submit" class="btn btn-default login-btn">Submit</button>
                            @*<div class="form-group">
                                <input type="checkbox" id="forgot-password">
                                <label for="forgot-password">Remember Me</label>
                            </div>*@
                        </form>
                    }
                </div>
            </div><!--End of form col-->
        </div><!--End of row-->
        <div class="row assignfixedwidth floating-bottom-footer">
            <div class="col-xs-12 text-center">
                <p class="footer-text">© TÜV NORD GROUP. All Rights Reserved</p>
            </div><!--End of col-->
        </div><!--End of row-->
    </div><!--End of container-fluid-->
    <!--End of content-->

</body>
</html>

