
@{
    ViewBag.Title = "LibraryList";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>
<!--export to excel-->
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="~/AllJsAndCss/js/buttons.html5.min.js"></script>
<script src="~/AllJsAndCss/js/datatable-custom.js"></script>
<!--Start of main content 3-->
<div class="main-content2 xs-max-height">
    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">
            <div class="col-xs-12">
                <h3 class="dynamic-page-title dynamic-page-title-2 text-left" style="margin-bottom:10px;">Library</h3>
            </div><!-- /.col -->

            <div class="col-xs-12">
                <hr class="custom-hr">
            </div><!-- /.col -->

            <div class="col-xs-12">
                <table id="library-dt" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="padding: 10px 10px !important;">Name</th>
                            <th style="padding: 10px 10px !important;">Uploaded Date</th>
                            <th style="padding: 10px 10px !important;">Uploaded By</th>
                            <th style="padding: 10px 10px !important;">Modified Date</th>
                            <th style="padding: 10px 10px !important;">Modified By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="library-folder.html"><i class="fa fa-folder" style="color:#f8c63c;"></i>&nbsp; Quality Manual</a></td>
                            <td>7/22/2019</td>
                            <td>Trupti Dalal</td>
                            <td>7/22/2019</td>
                            <td>Trupti Dalal</td>
                        </tr>
                        <tr>
                            <td><a href="library-folder2.html"><i class="fa fa-folder" style="color:#f8c63c;"></i>&nbsp; Competency Matrix</a></td>
                            <td>5/21/2014</td>
                            <td>Amit Naik</td>
                            <td>7/22/2019</td>
                            <td>Trupti Dalal</td>
                        </tr>
                        <tr>
                            <td><a href="library-folder3.html"><i class="fa fa-folder" style="color:#f8c63c;"></i>&nbsp; 38 Technical Circular 2015-05 - Disciplinary measures</a></td>
                            <td>6/15/2014</td>
                            <td>Rohini Rote</td>
                            <td>7/22/2019</td>
                            <td>Rohini Rote</td>
                        </tr>

                    </tbody>

                </table>
            </div><!-- /.data table col -->

        </div><!-- /.row -->



    </div><!-- /.container-fluid -->
    <!--End of header-->

</div>
<!--End of main content 3-->

