@model TuvVision.Models.ReportModel
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}
<br /><br />

@*<table style="width:900px;">
    <tr>
        <td>*@



            <div style="background-color: #A52A2A; color: White; height: 10px;">
            </div>
            <div style="height: 170px;">
                <div style="padding:20px;">
                    <h3>
                        Application Error:
                    </h3>
                    <h4>
                        Sorry, an error occurred while processing your request.
                    </h4>
                    <br />
                    <h6>@Model.Error</h6>
                    @*<h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>*@
                    <br />
                    <br />
                </div>
            </div>

            <div style="background-color: #A52A2A; color: White; height: 10px;">
            </div>

<br /><br />
        @*</td>
    </tr>
</table>*@



