<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Migrated new database  start  -->
    <add name="DefaultConnection" connectionString="data source=10.10.10.40;initial catalog=TIIMES;user id=sa;password=Tiimes@1234;Timeout=60;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="TestKioskApiEntities" connectionString="metadata=res://*/Models.Vision.csdl|res://*/Models.Vision.ssdl|res://*/Models.Vision.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.40;initial catalog=TIIMES;user id=sa;password=Tiimes@1234;Timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TuvConnection" connectionString="Data Source=10.10.10.40;Initial Catalog=TIIMES;Persist Security Info=True;User ID=sa;Password=Tiimes@1234;Timeout=60;" providerName="System.Data.SqlClient" />
    <!--Migrated new database  start end -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <!--//===testing id for vision ========-->
    <add key="mailcc" value="rohini@tuv-nord.com" />
    <!--//===testing id for vision ========-->
    <!--<add key="smtpserver" value="tuv-indiacom.mailserverone.com" />-->
    <!--<add key="Port" value="587" />-->
    <!--<add key="User" value="excellenceindia-tuv-india" />-->
    <!--<add key="Password" value="Summer_2018" />-->
    <!--<add key="mailfrom" value="excellenceindia@tuv-india.com" /> -->
    <!--<add key="smtpserver" value="96.45.76.234" />
    <add key="Port" value="25" />
    <add key="User" value="tiimes-tuv-india" />-->
    <!-- <add key="smtpserver" value="mail.tuv-india.com" />
    <add key="smtpserver" value="144.76.79.247" />-->
    <!-- <add key="Port" value="25" />
    <add key="User" value="tiimes@tuvindia.co.in" />
    <add key="Password" value="sa$jLM6NQ0ou" />
    <add key="mailfrom" value="tiimes@tuvindia.co.in" />-->
    <!--<add key="Password" value="Summer_2021" />  -->
    <!--<add key="Password" value="Noise111@@" /> -->
    <!--<add key="mailfrom" value="TIIMES@TUV-INDIA.COM" />  -->
    <add key="smtpserver" value="mail.tuvindia.co.in" />
    <add key="Port" value="587" />
    <add key="User" value="TIIMES@TUV-INDIA.COM" />
    <add key="Password" value="Ooc5Aida@" />
    <add key="mailfrom" value="TIIMES@TUV-INDIA.COM" />
    
    <add key="Web" value="https://tiimes.tuv-india.com" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MonthRate" value="26" />
    <add key="LogPath" value="G:\Applications\TuvVision10.0\TuvVision\Log" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- <httpCookies requireSSL="true" sameSite="None"  />-->
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" executionTimeout="3600" enableVersionHeader="false" />-->
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="6600" enableVersionHeader="false" />
    <!--<sessionState cookieless="true" regenerateExpiredSessionId="true" mode="InProc" timeout="120">-->
    <sessionState mode="InProc" timeout="120" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <globalization culture="en-GB" uiCulture="en-GB" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
        
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="UserLogin.cshtml" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Access-Control-Allow-Headers" />
        <remove name="Access-Control-Allow-Methods" />
        <remove name="Access-Control-Allow-Origin" />
        <remove name="X-XSS-Protection" />
        <remove name="X-Permitted-Cross-Domain-Policies" />
        <remove name="Access-Control-Allow-Origin" />
        <!-- Removed on 23/11/2022-->
        <!-- <remove name="X-Frame-Options" />
        <remove name="X-Content-Type-Options" />-->
        <!-- Added this as per VAPT-->
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Referrer-Policy" value="strict-origin" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Permissions-Policy" value="fullscreen=()"/>-->
        <!-- Added till here-->
        <!-- <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="Content-Security-Policy" value="" />-->
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="WordBypass" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="Word|Excel|PowerPoint|ms-office" />
          </conditions>
          <action type="CustomResponse" statusCode="200" statusReason="Refresh" statusDescription="Refresh" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="819200000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Select.HtmlToPdf" publicKeyToken="e0ae9f6e27a97018" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.1.0.0" newVersion="19.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>