@charset "utf-8";

@font-face {
	font-family: raleway;
	src: url(../fonts/raleway.ttf);
}
@font-face {
	font-family: montserrat-semiBold;
	src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
	font-family: montserrat-bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: montserrat-medium;
	src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
	font-family: montserrat-regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}

img {
	max-width: 100%;
}

body {
	font-family: raleway, helvetica, arial, sans-serif;
	background-color: #f3f3f3;
	letter-spacing: 0.04em;
	color: #333333;
}

/*Browser resets*/
::-moz-selection { /* Code for Firefox */
    background: yellow;
}

::selection {
    background: yellow;
}
/*Browser resets*/

.padding-reset {
	padding-left: 0px;
	padding-right: 0px;
}

.margin-reset {
	margin-left: 0px;
	margin-right: 0px;
}

a, button, .transition-all {
	-webkit-transition:all 0.2s linear 0.02s;
	-o-transition:all 0.2s linear 0.02s;
	-moz-transition:all 0.2s linear 0.02s;
	transition:all 0.2s linear 0.02s;
}

.assignfixedwidth {
	max-width: 1200px;
	margin: 0 auto;
}

.grey-bg {
	background-color: #f3f3f3;
}

/*Fixed Nav*/
.nav-position-fixed {
	position: fixed !important;
	left: 0px;
	right: 0px;
	z-index: 100 !important;
	top: 0px !important;
	border: 0;
	border-radius: 0;
	animation: slide-down 0.7s;
	-webkit-transition:all 0.2s linear 0.02s;
	-o-transition:all 0.2s linear 0.02s;
	-moz-transition:all 0.2s linear 0.02s;
	transition:all 0.2s linear 0.02s;
	-webkit-box-shadow: 0px 4px 22px -5px rgba(235,235,235,1);
	-moz-box-shadow: 0px 4px 22px -5px rgba(235,235,235,1);
	box-shadow: 0px 4px 22px -5px rgba(235,235,235,1);
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 0.9;
		transform: translateY(0%);
	}
}

/*Flex fix class*/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*Scroll to top*/
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
	z-index: 1;
}
.scroll {
	position: absolute;
    right: 20px;
    bottom: 20px;
    background: #1b9ad5;
    padding: 8px 10px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 50%;		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size: 26px;
    margin-top: -4px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
	color: #ffffff;
}
/*Scroll to top*/

/*header styles*/
.innov-navbar {
	background-color: #ffffff;
	border: 0;
	margin-bottom: 0;
}

.innov-header-box {
	background-color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.innov-logo-box {
	display: block;
	max-width: 250px;
}

.innov-logo {
	display: block;
	width: 100%;
}

.innov-nav>li>a {
	color: #333333 !important;
	font-family: montserrat-semibold;
	padding: 7px 10px;
	border-bottom: 1px solid transparent;
    margin:7px 0px;
}

.innov-nav>li>a:hover, .innov-nav>li>a:focus {
	color: #1b9ad5 !important;
}

.innov-nav > li:last-child a {
border-left:1px solid #000;
padding-left:10px;
}
/*.innov-nav>li:last-child a {
	display: inline-block;
	font-family: montserrat-semibold;
	background-color: transparent;
	color: #1b9ad5 !important;
	border: 2px solid #1b9ad5;
	padding: 6px 18px;
	margin-top: 6px;
	border-radius: 5px;
	margin-left: 10px;
	text-transform: uppercase;
}

.innov-nav>li:last-child a:hover, .innov-nav>li:last-child a:focus {
	background-color: #1b9ad5;
	color: #ffffff !important;
}*/

.dropdown-menu-custom {
	background-color: #1b9ad5 !important;
	left: 0 !important;
	right: auto !important;
	min-width: 160px !important;
	padding: 0;
	border: 0;
	border-radius: 5px;
}
.dropdown-menu-custom>li {
    cursor: default;
    font-size: 13px;
    padding: 10px;
    color: #fff;
    font-family: montserrat-medium;
}
.dropdown-menu-custom>li>a {
	color: #fff !important;
	text-transform: capitalize;
	font-family: montserrat-medium;
	border-left: 0px solid transparent;
	padding: 0 5px !important;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent !important;
}
.dropdown-menu-custom>li:hover, .dropdown-menu-custom>li:focus {
	color: #fff;
	background-color:#b7cd42;
}

/*Second Level Menu starts here*/
.dropdown-submenu {
  position: relative;
  cursor: default;
    font-size: 14px;
    padding: 10px;
    color: #fff;
    font-family: montserrat-medium;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  right: auto;
  margin-top: -1px;
}
.dropdown-submenu-custom {
	background-color: #1b9ad5 !important;
	right: auto;
	left: 100%;
	padding: 0;
	font-size: 14px;
	border: 1px solid #1b9ad5;
	border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
.dropdown-submenu-custom li {
    cursor: default;
    font-size: 13px;
    padding: 10px;
    color: #fff;
    font-family: montserrat-medium;
}
.dropdown-submenu-custom li a {
    color: #fff !important;
	text-transform: capitalize;
	font-family: montserrat-medium;
	border-left: 0px solid transparent;
	padding: 0 5px !important;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent !important;
}
.dropdown-submenu-custom li:hover {
    background-color: #b7cd42;
    color: #ffffff;
}
.dropdown-submenu-custom-left {
	left: auto !important;
	right: 100% !important;
	top: 100% !important;
	border-top: 3px solid #b7cd42 !important;
}
/*Second Level Menu starts here*/

.innov-navbar-toggle {
    background-color: #254099;
    opacity: 0.9 !important;
    border: 1px solid #254099;
}

.innov-navbar-toggle:hover, .innov-navbar-toggle:focus {
	background-color: #1b9ad5 !important;
	opacity: 1 !important;
}

.navbar-default .innov-navbar-toggle .icon-bar {
    background-color: #fff;
}
/*header styles*/

/*banner styles*/
.intro-banner-bg {
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url(../images/slide1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.innov-mockup {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 15%;
}
.intro-banner-content {
	display: block;
	color: #ffffff;
	width: 100%;
	padding-top: 35px;
	padding-bottom: 35px;
}

.intro-banner-content h2 {
	font-family: montserrat-regular;
	margin-bottom: 20px;
}
.intro-banner-content span {
	font-family: montserrat-semibold;
	font-size: 36px;
}
.intro-banner-content p {
	margin: 0;
	padding: 0;
	font-size: 18px;
    margin-bottom: 20px;
    line-height: 24px;
}
a.home-btn {
	text-decoration: none;
	display: inline-block;
    font-family: montserrat-semibold;
    padding: 6px 18px;
    border-radius: 5px;
    margin-right: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}
a.home-btn.transparent {
	background-color: transparent;
    color: #ffffff !important;
    border: 2px solid #ffffff;
}
a.home-btn.bgc {
	background-color: #b7cd42;
	color: #122349 !important;
    border: 2px solid #b7cd42;
}
a.home-btn.transparent:hover, a.home-btn.transparent:focus {
	background-color: #b7cd42;
	color: #122349 !important;
    border: 2px solid #b7cd42;
}
a.home-btn.bgc:hover, a.home-btn.bgc:focus {
	background-color: transparent;
    color: #ffffff !important;
    border: 2px solid #ffffff;
}
/*banner styles*/

/*home*/
.features-box {
	display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;
}

.features-box h1, .features-box h3, .features-box p {
	padding: 0;
	margin: 0;
	color: #333333;
}

.features-box h1 {
	font-family: montserrat-semibold;
	font-size: 26px;
	margin-bottom: 20px;
}

.features-box h3 {
	font-family: montserrat-regular;
	font-size: 22px;
	margin-bottom: 20px;
}

.features-box p {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 24px;
}

.features-box a {
	text-decoration: none;
	display: inline-block;
    padding: 25px 20px;
    background-color: #000;
    color: #fff;
    margin-right: 15px;
    border-radius: 3px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 4px 28px -5px rgba(74,74,74,1);
	-moz-box-shadow: 0px 4px 28px -5px rgba(74,74,74,1);
	box-shadow: 0px 4px 28px -5px rgba(74,74,74,1);
	font-family: montserrat-semibold;
	text-transform: uppercase;
	font-size: 13px;
}

.features-box a:hover {
	-webkit-box-shadow: 0px 4px 28px -5px rgba(74,74,74,0);
	-moz-box-shadow: 0px 4px 28px -5px rgba(74,74,74,0);
	box-shadow: 0px 4px 28px -5px rgba(74,74,74,0);
}

.features-box a.green {
	background-color: #31c598;
}

.features-box a.blue {
	background-color: #254099;
}

.features-box a.pink {
	background-color: #c5315e;
}

.features-box a.yellow {
	background-color: #c59831;
}

.features-box a i {
	display: inline-block;
	float: right;
	margin-left: 15px;
    line-height: 15px;
    margin-left: 25px;
    line-height: 15px;
    font-size: 20px;
}

.features-img-box {
	display: block;
	position: relative;
	height: 400px;
    width: 100%;
}

.features-img-box img {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}

.iportfolio-bg {
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url(../images/iportfolio-bg.jpg);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.iportfolio-box {
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.custom-img-resp-round {
	display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.ip-title {
	padding: 0;
	margin: 0;
	font-family: montserrat-semibold;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 24px;
}

.ip-content {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

a.ip-link {
	display: inline-block;
	color: #1b9ad5;
	text-decoration: none;
	font-family: montserrat-semibold;
}

a.ip-link:hover {
	color: #254099;
}

.get-in-touch-bg {
	background-color: #122349;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #ffffff;
}

.git-title {
	padding: 0;
	margin : 0;
	font-family: montserrat-semibold;
    font-size: 26px;
    margin-bottom: 10px;
}

.git-content {
	padding: 0;
	margin : 0;
	font-size: 18px;
    line-height: 24px;
}

a.git-btn {
	text-decoration: none;
	display: inline-block;
    font-family: montserrat-semibold;
    background-color: #b7cd42;
    color: #122349 !important;
    border: 2px solid #b7cd42;
    padding: 6px 18px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 20px;
    float: right;
}
a.git-btn:hover {
	background-color: transparent;
	color: #b7cd42 !important;
}
.innov-search {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #254099;
	color: #ffffff;
}
.innov-search-box {
	display: block;
}
.innov-search-box h2 {
	padding: 0;
	margin: 0;
	font-family: montserrat-regular;
	margin-bottom: 20px;
	font-size: 26px;
}
.search-input {
	width: 500px !important;
    height: 40px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    line-height: 1.6;
    font-weight: 400;
    font-family: montserrat-medium;
    color: #222;
    -webkit-box-shadow: 0px 5px 18px -4px rgba(19,30,69,1);
	-moz-box-shadow: 0px 5px 18px -4px rgba(19,30,69,1);
	box-shadow: 0px 5px 18px -4px rgba(19,30,69,1);
}
.search-input:focus {
    outline: none;
    -webkit-box-shadow: 0px 5px 18px -4px rgba(0,0,0,1);
	-moz-box-shadow: 0px 5px 18px -4px rgba(0,0,0,1);
	box-shadow: 0px 5px 18px -4px rgba(0,0,0,1);
}
.search-button {
	width: 60px;
	height: 40px;
	text-align: center;
	border-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #b7cd42;
	color: #122349;
	border-color: #b7cd42;
	margin-left: -5px;
}
.search-button i {
	font-size: 18px;
}
.search-button:hover {
	background-color: #122349;
	color: #b7cd42;
	border-color: #122349;
}
.latest-rec-bg {
	padding-top: 30px;
	background-color: #f3f3f3;
}
.latest-rec-box {
	padding-top: 30px;
    padding-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
}
.centered-icon-title {
	padding: 0;
	margin: 0;
	font-family: montserrat-semibold;
    font-size: 26px;
}
.centered-icon-title img {
	position: relative;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    top: -6px;
}
.recommendation-tab-box {
	display: block;
	padding: 10px;
	padding-bottom: 0;
}
.innov-lr-nav-tabs>li>a {
	font-family: montserrat-bold;
	text-transform: uppercase;
	color: #8a8a8a;
	padding: 10px 20px;
}
.innov-lr-nav-tabs>li>a:hover, .innov-lr-nav-tabs>li>a:focus {
	background-color: transparent;
	color: #8a8a8a;
	border: transparent;
	border-bottom: 2px solid #dddddd;
}
.innov-lr-nav-tabs>li.active>a, .innov-lr-nav-tabs>li.active>a:hover, 
.innov-lr-nav-tabs>li.active>a:focus {
    color: #282828;
    background-color: #fff;
    border: transparent;
    border-bottom: 2px solid #1b9ad5;
    cursor: default;
}
.l-t-r-border-bottom::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  left: 0;
  bottom:0;
  background-color: #1b9ad5;
  transition: all ease-in-out .2s;
}
.l-t-r-border-bottom:hover::after{
  width: 100%;
}
.innov-lr-tab-content {
	padding: 15px 0 0 0;
}
.lr-box {
	background-color: #ebebeb;
	border: 1px solid #ebebeb;
	border-radius: 5px;
}
.lr-title {
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	max-width: 100%;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 10px 10px;
	border-top: 1px solid #4175e4;
	border-left: 1px solid #4175e4;
	border-right: 1px solid #4175e4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: rgba(65,117,228,1);
    background: -moz-linear-gradient(top, rgba(65,117,228,1) 0%, rgba(29,152,214,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,117,228,1)), color-stop(100%, rgba(29,152,214,1)));
    background: -webkit-linear-gradient(top, rgba(65,117,228,1) 0%, rgba(29,152,214,1) 100%);
    background: -o-linear-gradient(top, rgba(65,117,228,1) 0%, rgba(29,152,214,1) 100%);
    background: -ms-linear-gradient(top, rgba(65,117,228,1) 0%, rgba(29,152,214,1) 100%);
    background: linear-gradient(to bottom, rgba(65,117,228,1) 0%, rgba(29,152,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4175e4', endColorstr='#1d98d6', GradientType=0 );
}
.lr-content {
	display: block;
	background-color: #ffffff;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}
.lr-content h5, .lr-content p {
	padding: 0;
	margin: 0;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	max-width: 100%;
}
.lr-content h5 {
	color: #8a8a8a;
	margin-bottom: 3px;
}
.lr-content p {
	color: #333333;
	font-weight: 600;
}
.lr-target span {
	font-size: 20px;
	color: #c5315e;
}
.lr-sep {
	margin-top: 8px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.lr-view-link {
	display: block;
	background-color: #ebebeb;
	border: 1px solid #e3e3e3;
	text-align: center;
}
.lr-view-link a {
	display: block;
	text-decoration: none;
	font-family: montserrat-semibold;
	color: #122349;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.lr-view-link a:hover  {
	color: #ffffff;
	background-color: #c5315e;
}
.owl-carousel.owl-loaded {
    margin: 0 auto !important;
}
.owl-theme-custom .owl-nav [class*=owl-] {
    color: #ffffff !important;
    background: #c5315e !important;
}
.lr-hand {
	margin-top: 20px;
}
.lr-50plus-prods {
	padding: 0;
	margin: 0;
	color: #7c7c7c;
	font-family: montserrat-regular;
	font-size: 18px;
}
.lr-50plus-prods span {
	color: #1a1a1a;
	font-family: montserrat-bold;
	font-size: 24px;
	margin-left: 2px;
	margin-right: 2px;
}
a.explore-btn {
	text-decoration: none;
	display: inline-block;
    font-family: montserrat-semibold;
    background-color: #1b9ad5;
    color: #ffffff !important;
    border: 2px solid #1b9ad5;
    padding: 6px 18px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    float: right;
}
a.explore-btn:hover {
	background-color: transparent;
	color: #1b9ad5 !important;
}
/*home*/

/*login, forgot-password, create-new-password*/
.grey-color {
	color: #7c7c7c;
}
.padding-tb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
a.back-link {
	text-decoration: none;
	display: inline-block;
	color: #7c7c7c;
	padding: 10px 0;
	font-family: montserrat-regular;
}
a.back-link:hover {
	color: #1b9ad5;
	padding-left: 5px;
}
.innov-form-box {
	display: inline-block;
	width: 360px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 40px #e3e3e3;
	-webkit-box-shadow: 0 0 40px #e3e3e3;
	-moz-box-shadow: 0 0 40px #e3e3e3;
    border-radius: 5px;
	padding: 35px 35px 40px 35px;
}
.innov-form-box img {
	display: inline-block;
	width: 40px;
	margin: 0 auto;
}
.innov-form-box h3 {
	padding: 0;
	margin: 0;
	color: #333333;
	font-family: montserrat-medium;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.innov-login-form-group {
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
}
.form-control-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  opacity: 0.5;
  pointer-events:none;
}
.innov-login-form-control, .innov-login-form-control:focus {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #dddddd;
	font-family: montserrat-medium;
}
.innov-login-form-control:focus + .form-control-placeholder,
.innov-login-form-control:valid + .form-control-placeholder {
  font-size: 80%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.forgot-pwd {
	font-size: 13px;
	margin-bottom: 20px;
}
.forgot-pwd a {
	color: #1b9ad5;
	text-decoration: none;
	font-weight: 600;
}
.forgot-pwd a:hover {
	color: #254099;
}
.login-btn {
	background-color: rgba(37, 64, 153, 1);
	border-color: rgba(37, 64, 153, 1);
	color: #ffffff;
	text-transform: uppercase;
	font-family: montserrat-semibold;
	font-size: 13px;
}
.login-btn:hover, .login-btn:focus {
	background-color: rgba(37, 64, 153, 0.8);
	border-color: rgba(37, 64, 153, 0.5);
	color: #ffffff;
}
.alert-helper-class {
	display: inline-block;
	width: 100%;
	float: left;
	text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 13px;
    font-size: 12px;
    color: #ff0000;
}
.footer-form {
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 13px;
}
.footer-form a {
	color: #1b9ad5;
	text-decoration: none;
	font-weight: 600;
}
.footer-form a:hover {
	color: #254099;
}
/*login, forgot-password, create-new-password*/

/*our team*/
.innov-page-title {
	padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.our-team-bg {
	background-image: url(../images/our-team-bg.jpg);
}
.innov-page-title-text img {
	display: inline-block;
	margin-right: 10px;
}
.innov-page-title-text {
	margin: 0;
	color: #1a1a1a;
    font-size: 22px;
    font-family: montserrat-semibold;
}
.innov-breadcrumb {
	margin-top: 20px;
	background-color: #f3f3f3;
}
.innov-breadcrumb li a {
	color: #1b9ad5;
	text-decoration: none;
}
.innov-breadcrumb li a:hover {
	color: #254099;
}
.innov-breadcrumb > li + li:before {
    content: "\3E";
}
.page-intro-title {
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
    padding: 30px 20px;
    border-radius: 0;
    margin-bottom: 30px;
}
.page-intro-title h2 {
	margin: 0;
    text-align: center;
    color: #254099;
    font-family: montserrat-semibold;
    font-size: 24px;
    margin-bottom: 10px;
}
.page-intro-title p {
	margin: 0;
    text-align: center;
    color: #1a1a1a;
    font-family: montserrat-medium;
    font-size: 16px;
}
.team-padding {
	padding-bottom: 20px;
}
.innov-member-card {
	background-color: #ffffff;
	width: 95%;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 30px;
	padding: 25px 10px; 
	box-shadow: 0 0 40px #e3e3e3;
	-webkit-box-shadow: 0 0 40px #e3e3e3;
	-moz-box-shadow: 0 0 40px #e3e3e3;
}
.innov-profile-img {
	width: 110px;
	height: 110px;
	margin: 0 auto;
	object-fit: cover;
	border: 1px solid #e1e1e1;
}
.innov-member-card h4, .innov-member-card h5, .innov-member-card p {
	margin: 0;
}
.innov-member-card h4, .modal-innov-member-name {
	font-size: 22px;
    font-family: montserrat-semibold;
    color: #333;
    margin-top: 15px;
}
.innov-member-card h5, .modal-innov-member-position {
	font-size: 16px;
    font-weight: bold;
    color: #315ec5;
    margin-top: 8px;
}
.innov-member-card p, .modal-innov-member-dept, .modal-innov-member-prod, .modal-innov-member-desc {
	font-size: 14px;
    font-weight: bold;
    color: #7c7c7c;
    margin-top: 10px;
}
.innov-member-card p + p {
	margin-top: 0px;
}
.team-btn, .team-btn:focus {
	text-decoration: none;
	outline: 0;
	display: inline-block;
    font-family: montserrat-semibold;
    background-color: #315ec5;
    color: #ffffff;
    border: 2px solid #315ec5;
    padding: 3px 18px;
    border-radius: 5px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 6px 15px -6px rgba(38,81,173,1);
	-moz-box-shadow: 0px 6px 15px -6px rgba(38,81,173,1);
	box-shadow: 0px 6px 15px -6px rgba(38,81,173,1);
	opacity: 1;
}
.team-btn:hover {
	opacity: 0.8;
	color: #ffffff;
}
.mt-0 {
	margin-top: 0;
}
.innov-member-modal-body {
	padding: 15px 35px;
}
a.modal-innov-member-email {
	background-color: #c5315e;
	color: #ffffff;
	padding: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    line-height: 15px;
    opacity: 1;
    -webkit-box-shadow: 0px 5px 14px -4px rgba(138,33,66,1);
	-moz-box-shadow: 0px 5px 14px -4px rgba(138,33,66,1);
	box-shadow: 0px 5px 14px -4px rgba(138,33,66,1);
}
a.modal-innov-member-email:hover {
	opacity: 0.8;
}
/*our team*/

/*footer*/
.footer-bg {
	background-color: #eeeeee;
	padding-top: 50px;
	padding-bottom: 20px;
}
.foo-title {
	padding: 0;
	margin: 0;
	font-family: montserrat-bold;
	color: #254099;
	margin-bottom: 15px;
}
ul.foo-list {
	padding: 0;
	margin: 0;	
}
ul.foo-list li {
	list-style-type: none;
	line-height: 28px;
	color: #7c7c7c;
	text-decoration: none;
	font-weight: 600;
}
ul.foo-list li a {
	color: #7c7c7c;
	text-decoration: none;
	font-weight: 600;
}
ul.foo-list li a:hover, ul.foo-list li a:focus {
	color: #254099;
	margin-left: 5px;
}
.dark-hr {
    border-top: 1px solid #dcdcdc;
}
.last-foo-bg {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.website-designed {
	padding: 0;
	margin: 0;
	color: #7c7c7c;
	font-weight: 600;
	margin-top: 10px;
}
.website-designed a {
	text-decoration: none;
	color: #254099;
}
.social-icons-main {
	text-align: right;
}
.social-icons {
	display: inline-block;
}
.social-icons a {
	display: inline-block; 
	text-decoration: none;
	text-align: center;
	background-color: #343434;
	color: #ffffff;
	font-size: 14px;
	width: 30px;
	height: 30px;
	padding: 5px 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.social-icons a:hover {
	background-color: #b7cd42;
	color: #ffffff;
}
.tooltip > .tooltip-inner {
    background-color: #047fd9; 
    color: #ffffff; 
    padding: 5px 10px;
    font-size: 14px;
}
/*footer*/


@media only screen and (max-width: 1200px) {
    .features-box h3 {
    font-size: 18px;
    }
    .features-box p {
    font-size: 14px;
    }
    .features-box a {
    font-size: 11px;
    padding: 25px 15px;
    margin-right: 10px;
	}
	.features-img-box {
    height: 380px;
    }
    .git-content {
	font-size: 14px;
	}
	.intro-banner-content {
    padding-top: 25px;
    padding-bottom: 25px;
	}
	.intro-banner-content img {
	width: 30%;
	}
	.intro-banner-content h2 {
    font-size: 22px;
    }
    .intro-banner-content span {
    font-size: 30px;
	}
	.innov-mockup {
    width: 90%;
    margin: 0 auto;
    margin-top: 24%;
	}
}

@media only screen and (max-width: 991px) {
	.features-box {
    padding-top: 25px;
    padding-bottom: 25px;
    }
    .features-box h1 {
    margin-bottom: 15px;
	}
	.features-box h3 {
    font-size: 16px;
    margin-bottom: 10px;
	}
	.features-box p {
    margin-bottom: 10px;
	}
	.features-box a {
    font-size: 11px;
    padding: 20px 12px;
    margin-right: 10px;
	}
	.features-box a i {
    display: none;
	}
	.features-img-box {
    height: 320px;
	}
	.get-in-touch-bg {
	padding-top: 25px;
	padding-bottom: 25px;
	}
	.footer-bg {
	padding-top: 25px;
	padding-bottom: 25px;
	}
	.foo-title {
    margin-bottom: 10px;
    font-size: 14px;
	}
	ul.foo-list li {
    line-height: 22px;
    font-size: 11px;
	}
	.website-designed {
    font-size: 11px;
	}
	.social-icons a {
    font-size: 11px;
    width: 25px;
    height: 25px;
    padding: 5px 8px;
	}
	.intro-banner-bg {
    padding-top: 25px;
    padding-bottom: 25px;
    }
	.innov-mockup {
    margin-top: 50%;
	}
	.lr-50plus-prods {
    font-size: 14px;
	}
	.lr-50plus-prods span {
    font-size: 20px;
	}
	a.explore-btn {
    margin-top: 5px;
    }
}

@media only screen and (max-width: 767px){
	.xs-pb-35 {
	padding-bottom: 35px;
	}
	.features-box h1 {
    font-size: 22px;
	}
	.features-box a {
    padding: 20px 40px;
    }
    .features-box a i {
    display: block;
    }
    .features-img-box {
    display: none;
	}
	.ip-title {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
	}
	.ip-content {
	margin-bottom: 5px;
	}
	.xs-text-center {
	text-align: center;
	}
	a.git-btn {
	float: initial;
	}
	.last-foo-bg {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
	}
	ul.foo-list {
    margin-bottom: 10px;
    }
    .social-icons a {
    margin-top: 5px;
	}
	.intro-banner-content img {
    margin: 0 auto;
	}
	.intro-banner-content {
    padding-top: 10px;
    padding-bottom: 0px;
	}
	.innov-mockup {
    width: 40%;
    margin-top: 3%;
	}
	.innov-search {
    padding-top: 25px;
    padding-bottom: 25px;
	}
	.innov-search-box h2 {
    margin-bottom: 15px;
    font-size: 22px;
	}
	.innov-search-form-group {
	display: inline-block;
	margin-bottom: 0;
	}
	.search-input {
    width: 335px !important;
	}
	.search-button {
	margin-top: -5px;
	}
	.centered-icon-title {
    font-size: 22px;
	}
	a.explore-btn {
    float: none;
    margin-top: 10px;
	}
	.git-title {
    font-size: 22px;
	}
	.innov-breadcrumb {
    margin-top: 10px;
    margin-bottom: 10px;
	}
	.page-intro-title {
    padding: 20px 20px;
    margin-bottom: 30px;
	}
	.page-intro-title h2 {
    font-size: 22px;
    }
    .page-intro-title p {
    font-size: 14px;
	}
}

@media only screen and (max-width: 480px){
	.innov-logo-box {
    max-width: 180px;
    margin-top: 8px;
	}
	.features-box h1 {
    font-size: 18px;
	}
	.features-box h3 {
    font-size: 14px;
	}
	.features-box a {
    width: 45%;
    float: left;
    padding: 20px 15px;
    margin-right: 5%;
	}
	.features-box a i {
    margin-left: 15px;
    }
    .intro-banner-content h2 {
    margin-bottom: 10px;
	}
	.intro-banner-content span {
    font-size: 26px;
	}
    .intro-banner-content p {
    font-size: 14px;
    margin-bottom: 10px;
    }
    .intro-banner-content a {
    font-size: 11px;
    }
    .innov-mockup {
    width: 75%;
    margin-top: 8%;
	}
	.search-input {
    width: 245px !important;
	}
	.latest-rec-box {
    padding-top: 25px;
    padding-bottom: 25px;
    }
	.centered-icon-title img {
    width: 20px;
    height: 20px;
    top: -3px;
	}
	.centered-icon-title {
    font-size: 18px;
	}
	.innov-lr-nav-tabs>li>a {
    font-size: 12px;	
	}
	.innov-lr-nav-tabs {
	text-align: center;
	}
	.innov-lr-nav-tabs>li {
	display: inline-block;
	float: none;
	}
	.git-title {
    font-size: 18px;
	}
	a.explore-btn, a.git-btn {
    font-size: 11px;
	}
	.innov-form-box {
	width: 100%;
	}
	.padding-tb-30 {
    padding-top: 10px;
    padding-bottom: 10px;
	}
	.innov-form-box h3 {
    padding-bottom: 25px;
	}
	.footer-form {
    padding-top: 25px;
    }
    .page-intro-title {
    padding: 20px 10px;
    margin-bottom: 25px;
	}
	.page-intro-title h2 {
    font-size: 18px;
	}
	.innov-page-title-text {
    font-size: 18px;
    }
    .innov-page-title-text img {
    width: 30px;
    height: 30px;
    }
}

@media only screen and (max-width: 400px){
	.features-box a {
    font-size: 9px;
	}
	.features-box a i {
    margin-left: 10px;
    line-height: 12px;
    font-size: 14px;
    }
    .search-input {
    width: 240px !important;
	}
}
@media only screen and (max-width: 363px){
    .search-input {
    width: 220px !important;
	}
}
@media only screen and (max-width: 342px){
    .search-input {
    width: 185px !important;
	}
}

@media only screen and (max-width: 320px){
	
}

.dataTable > tbody > tr > td > img{
width: 200px !important;
height: auto;
}