.ui-widget {
    font-family: 'Open Sans', 'Raleway', sans-serif !important;
}

.ui-dialog {
    width: 60% !important;
    top: 60px !important;
    left: 39% !important;
    padding-bottom: 2% !important;
}

    .ui-dialog .ui-dialog-titlebar {
        text-align: center !important;
    }

    .ui-dialog .ui-dialog-title {
        float: none !important;
        color: #fff;
        font-size: 18px;
    font-family: "Helvetica Neue",Arial,"Droid Sans",sans-serif;
    }

.user-details-table {
    width: 75%;
    margin: 0 auto;
    margin-top: 2%;
}

    .user-details-table tr td:nth-child(even) {
        width: 25%;
    }
    .ui-widget-header {
    background: #254099 !important;
    border-color: #254099 !important;
    }

@media only screen and (max-width: 767px) {
    .ui-dialog {
    width: 100% !important;
    top: 60px !important;
    left: 0 !important;
    padding-bottom: 2% !important;
    }
}
