
@using NonFactors.Mvc.Grid;
@{
    ViewBag.Title = "OPE_Report";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--filepond-->
<link href="~/AllJsAndCss/css/filepond.css" rel="stylesheet" />

<script src="~/AllJsAndCss/datatable/js/jquery.dataTables.js"></script>

<script src="~/AllJsAndCss/js/datatable-custom.js"></script>

<link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />

<!--filepond-->
<!-- Load FilePond library -->
<script src="~/AllJsAndCss/js/filepond.js"></script>

<!-- Turn all file input elements into ponds -->
<script>
    FilePond.parse(document.body);
</script>

@*New added Code*@
@*<link href="~/AllJsAndCss/css/MVCGridN.css" rel="stylesheet" />*@

<div class="main-content3 xs-max-height">

    <!--Start of header-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-15">
            <form method="post">

                <div class="col-xs-12">
                    <h3 class="dynamic-page-title dynamic-page-title-2  text-left">Out of Pocket (OP)</h3>
                    <button type="button" value="ExportToExcel" class="btn btn-info dynamic-function-btn dynamic-function-btn-2" onclick="location.href='@Url.Action("ExportIndex","VisitReport")'"
                            style="border:none;">
                        Export To Excel
                    </button>

                </div><!-- /.col -->

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Month:</label>
                            <select id="monthDropdown" class="form-control form-control-custom FromD"></select>

                            @*@Html.TextBoxFor(model => model.FromDate, "{0:dd MMM yyyy}", htmlAttributes: new { placeholder = "Select Start Date", @class = "form-control form-control-custom FromD", autocomplete = "off" })*@
                        </div>
                    </div>


                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Year:</label>
                            <select id="yearDropdown" class="form-control form-control-custom ToD"></select>
                            @*@Html.TextBoxFor(model => model.ToDate, "{0:dd MMM yyyy}", htmlAttributes: new { placeholder = "Select To Date", @class = "form-control form-control-custom ToD", autocomplete = "off" })*@
                        </div>

                    </div>

                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Search:</label>
                            @*<input type="submit" value="Search" class="btn btn-primary form-control" />*@
                            <input id="btnSearch" type="button" value="Search" class="btn btn-primary form-control" />
                        </div>

                    </div>
                </div>
            </form>

            <div class="col-xs-12">
                <hr class="custom-hr">
            </div><!-- /.col -->
            <!--Table was here-->

        </div><!-- /.row -->

        <div class="col-xs-12">

        </div><!-- /.data table col -->

        <div class="col-xs-12">

           
            <table class="display dataTable no-footer evaluation" style="overflow-y:auto" id="example">
                <thead>
                    <tr>
                        <th style="width:15%;"><label>OP Number</label></th>
                        <th style="width:15%;"><label>Days Present</label></th>
                        <th style="width:15%;"><label>Total Amount</label></th>
                        <th style="width:15%;"><label>Approved Amount</label></th>
                        <th style="width:15%;"><label>Branch QA Remarks</label></th>
                        <th style="width:15%;"><label>Admin QA Remarks</label></th>
                        <th style="width:15%;"><label>Status</label></th>
                    </tr>
                </thead>
            </table>
           
        </div>
        @*<div class="col-xs-12">
            <input type="button" id="btnApprove" value="Approve" class="btn btn-default insert-form-btn" style="margin-bottom: 40px;" />
        </div>*@
    </div><!-- /.container-fluid -->
    <!--End of header-->

</div>

<script type="text/javascript">
    $(document).ready(function () {

        var months = ['Select Month',
       'January', 'February', 'March', 'April', 'May', 'June',
       'July', 'August', 'September', 'October', 'November', 'December'
        ];

        var dropdown = $('#monthDropdown');

        // Loop through the months array and append options to the dropdown
        for (var i = 0; i < months.length; i++) {
            dropdown.append($('<option></option>').val(i + 1).text(months[i]));
        }

        var dropdown = $('#yearDropdown');
        var currentYear = new Date().getFullYear();
        dropdown.append($('<option></option>').text("Select Year"));
        // Bind the last 10 years to the dropdown
        for (var i = 0; i < 10; i++) {
            var year = currentYear - i;
            dropdown.append($('<option></option>').val(year).text(year));
        }


        Get_OPE_SearchData();
    });


    function Get_OPE_SearchData() {

        $.ajax({
            type: "GET",
            url: "/MISOPEReportController/Get_OPE_SearchData",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var a = JSON.parse(response);
                var aa = JSON.stringify(response);

                if (a == "Error") {
                    $("#example tbody").empty();
                    tr = $('<tr/>');
                    tr.append('<td colspan=6 style="text-align: center;">No Record Found</td>');
                    $('#example').append(tr);
                }
                else {


                    $("#example tbody").empty();
                    for (var i = 0; i < a.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td><label id='V_" + c + "'>" + a[i].OP_Number + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].WorkingDay + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].AmountClaim + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].ApprovedAmount + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
                        tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
                        //tr.append("<td><label id='V_" + c + "'>" + a[i].Status + "</label> </td>");
                        if (a[i].Status == 'Send For Approval')
                            tr.append("<td style='width:20%;'><input type='button' id='btn_" + c + "'  value='Send For Approval' onclick=SendForApproval('" + a[i].OP_Number + "')></td>");
                        else
                            tr.append("<td style='width:20%;'><label id='V_" + c + "'>" + a[i].Status + "</label></td>");

                        $('#example').append(tr);
                    }
                }
            },
            error: function (xhr, status, error) {
                // Code to handle errors goes here
            }
        });

    };

    $('#chkChkAll').click(function (e) {
        var table = $(e.target).closest('table');
        $('td input:checkbox', table).prop('checked', this.checked);
    });


    $('#btnSearch').click(function (e) {
        debugger;
        var Month = $("#monthDropdown option:selected").text();
        var Year = $("#yearDropdown option:selected").text();
        if (Month == "Select Month") {
            alert("Please Select Month ");

        }
        else if (Year == "Select Year") {
            alert("Please Select Year ");

        }
        else {
            $.ajax({
                type: "Get",
                url: "../MISOPEReport/Get_OPE_SearchData",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { Month: Month, Year: Year },
                success: function (response) {
                    var a = JSON.parse(response);
                    var aa = JSON.stringify(response);
                    // Get_OPE_SearchData();

                    if (a == "Error") {
                        $("#example tbody").empty();
                        tr = $('<tr/>');
                        tr.append('<td colspan=6 style="text-align: center;">No Record Found</td>');
                        $('#example').append(tr);
                    }
                    else {

                        var c = 0;
                        $("#example tbody").empty();
                        for (var i = 0; i < a.length; i++) {
                            c = 1 + i;
                            tr = $('<tr/>');
                            tr.append("<td><label id='V_" + c + "'>" + a[i].OP_Number + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].WorkingDay + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].AmountClaim + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].ApprovedAmount + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
                            tr.append("<td><label id='V_" + c + "'>" + a[i].Branch_Remarks + "</label> </td>");
                            //tr.append("<td><label id='V_" + c + "'>" + a[i].Status + "</label> </td>");
                            if (a[i].Status == 'Send For Approval')
                                tr.append("<td style='width:20%;'><input type='button' id='btn_" + c + "'  value='Send For Approval' onclick=SendForApproval('" + a[i].OP_Number + "')></td>");
                            else
                                tr.append("<td style='width:20%;'><label id='V_" + c + "'>" + a[i].Status + "</label></td>");


                            $('#example').append(tr);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    // Code to handle errors goes here
                }

            });
        }
    });

    function SendForApproval(OP_Number) {
        //alert(VoucherNo);
        var Data = [];

        var item = {};
        var i = 0;
        i++;
        var row = $(this).closest("tr")[0];
        var _rowIndex = 1;

        var item = {};

        var checkboxId = $(this).attr('id');
        console.log('Checkbox ID: ' + checkboxId);

        //List_VoucherID = checkboxId + ',' + List_VoucherID;


        var TotalAmountSelector_ = '#example tbody tr:eq(' + _rowIndex + ') td:eq(3) label';
        var TotalAmount = $(TotalAmountSelector_).text();

        var ApprovedAmountSelector = '#example tbody tr:eq(' + _rowIndex + ') td:eq(4) input[type="text"]';
        var ApprovedAmount = $(ApprovedAmountSelector).val();

        var ApprovedRemarksSelector = '#example tbody tr:eq(' + _rowIndex + ') td:eq(5) input[type="text"]';
        var ApprovedRemarks = $(ApprovedRemarksSelector).val();


        item["VoucherNo"] = checkboxId;
        item["Remarks"] = ApprovedRemarks;//$("#txtRemarks").val();
        item["ApprovedAmount"] = ApprovedAmount;
        item["TotalAmount"] = TotalAmount;

        Data.push(item);



        $.ajax({
            type: "GET",
            url: "/TIIMESTESTING/MISOPEReport/SendForApproval",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { OP_Number: OP_Number },
            success: function (response) {
                var a = JSON.parse(response);
                Get_OPE_SearchData();
            },
            error: function (xhr, status, error) {
                // Code to handle errors goes here
            }
        });
    }

</script>


