@model TuvVision.Models.MISJobWiseTimeSheet
@using NonFactors.Mvc.Grid;
@using System.Web.Mvc;

@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}


<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

@using (Html.BeginForm("underContruction", "MISOPEReport", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    <div class="main-content3 xs-max-height">

        <!--Start of header-->
        <div class="container-fluid">
            <br /><br /><br />
            <div class="row assignfixedwidth rp-15">
                
                <img src="~/underConstruction.jpg" style="width:60%;height:60%" class="center"  />

            </div>

        </div>
    </div>
}
