
.mvc-grid th {
    background-clip: padding-box;
    position: relative;
    background-color: #104193;
    color: #fff;
}
tr.mvc-grid-headers > th {
    word-break: normal !important;
}
.mvc-grid-title {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}
table.dataTable tbody tr:nth-of-type(n) {
    background-color:#ececec;
}
table.dataTable tbody tr:nth-of-type(2n+1) {
    background-color: #ffffff;
}
button.mvc-grid-sort {
    font-size: 13px;
}
th.asc > button {
    font-size: 13px;
}
.mvc-grid-sort::before, .mvc-grid-sort::after {
        opacity:inherit;
}
.mvc-grid.mvc-grid-row-mode > table > tbody > tr > td {
    font-family: mont-med, helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 1.3;
}
table#gridMapping {
    overflow: auto;
    display: block;
}

.mvc-grid-row-filters .mvc-grid-value {
    color: #000000;
}

.mvc-grid.mvc-grid-row-mode > table > thead > tr.mvc-grid-headers > th.aa > span.mvc-grid-title{
    width:150px;
}

 .mvc-grid.mvc-grid-row-mode > table > tbody > tr > td:nth-of-type(2),  .mvc-grid.mvc-grid-row-mode > table > tbody > tr > td:nth-of-type(3) {
    word-break: normal !important;
}
.mvc-grid.mvc-grid-row-mode > table > tbody > tr > td:nth-of-type(2) > a{
    color: #104193;
}
.mvc-grid.mvc-grid-row-mode > table > tbody > tr > td:nth-of-type(3) > a {
    color: green;
}
.mvc-grid.mvc-grid-row-mode > table > tbody > tr > td.aa {

    word-break:normal;
    
}

 