 .form-card-content-custom label
        {
            color: #3c3c3c;
            margin-bottom:7px !important;
        }

        .btn-right
        {
            float:right;
        }

       .form-card-content-custom
       {
           padding: 20px 35px 0 35px !important;
       }

        .form-group-custom
        {
            margin-left:0px !important;
            margin-right:0px !important;
        }

        .btn-margin
        {
            margin-top:25px;
        }

        button.innov-dark-blue-btn:focus 
{
    outline:none;
    border:none;
}