@charset "utf-8";

@font-face {
  font-family: raleway;
  src: url(../fonts/raleway.ttf);
}
@font-face {
  font-family: montserrat-semiBold;
  src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: montserrat-bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: montserrat-regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

img {
  max-width: 100%;
}

body {
  font-family: raleway, helvetica, arial, sans-serif;
  background-color: #f3f3f3;
  letter-spacing: 0.04em;
  color: #333333;
}

/*Browser resets*/
::-moz-selection { /* Code for Firefox */
    background: #FFEB00;
}

::selection {
    background: #FFEB00;
}
/*Browser resets*/

.padding-reset {
  padding-left: 0px;
  padding-right: 0px;
}

.margin-reset {
  margin-left: 0px;
  margin-right: 0px;
}

a, button, .transition-all {
  -webkit-transition:all 0.2s linear 0.02s;
  -o-transition:all 0.2s linear 0.02s;
  -moz-transition:all 0.2s linear 0.02s;
  transition:all 0.2s linear 0.02s;
}

.assignfixedwidth {
  max-width: 1200px;
  margin: 0 auto;
}

.grey-bg {
  background-color: #f3f3f3;
}

.outer-thank-you{
 background: rgba(37,64,153,1);
background: -moz-linear-gradient(-45deg, rgba(37,64,153,1) 15%, rgba(37,64,153,1) 30%, rgba(183,205,66,1) 99%, rgba(183,205,66,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(15%, rgba(37,64,153,1)), color-stop(30%, rgba(37,64,153,1)), color-stop(99%, rgba(183,205,66,1)), color-stop(100%, rgba(183,205,66,1)));
background: -webkit-linear-gradient(-45deg, rgba(37,64,153,1) 15%, rgba(37,64,153,1) 30%, rgba(183,205,66,1) 99%, rgba(183,205,66,1) 100%);
background: -o-linear-gradient(-45deg, rgba(37,64,153,1) 15%, rgba(37,64,153,1) 30%, rgba(183,205,66,1) 99%, rgba(183,205,66,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(37,64,153,1) 15%, rgba(37,64,153,1) 30%, rgba(183,205,66,1) 99%, rgba(183,205,66,1) 100%);
background: linear-gradient(135deg, rgba(37,64,153,1) 15%, rgba(37,64,153,1) 30%, rgba(183,205,66,1) 99%, rgba(183,205,66,1) 100%);
  
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
}
.thank-you-page{
-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.31);
box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.31);
padding: 50px;
  text-align: center;
  border-radius: 15px;
  text-align: center;
  line-height: 3em;
  color: #122349;
  background-color: #fff;
  margin: 0 auto ;
max-width: 800px;
margin-top: 150px;
}
.thank-you-page h1{margin:50px 0px; 
  font-size: 40px;}
.thank-you-page h4{ margin:40px 0px; font-size: 20px;}
.thank-you-page h6{margin:10px 0px;}
.thank-you-page a:hover{
border-bottom: none;
}

.login-again-btn {
    background-color: rgba(37, 64, 153, 1);
    border-color: rgba(37, 64, 153, 1);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
}

.login-again-btn:hover {
    background-color: rgba(37, 64, 153, 0.8);
    border-color: rgba(37, 64, 153, 1);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
}

.error-page{
-webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.31);
box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.31);
padding: 50px;
  text-align: center;
  border-radius: 15px;
  text-align: center;
  line-height: 3em;
  color: #ff0000;
  background-color: #fff;
  margin: 0 auto ;
max-width: 800px;
margin-top: 150px;
}
.error-page h1{margin:50px 0px; 
  font-size: 30px;
}
.error-page h4{ margin:40px 0px; 
  font-size: 25px; 
  text-transform: uppercase;
  color: #000;
    font-weight: bold;

}

.error-page h4 a:hover{
  text-decoration: none;
  color: #122349;
}
.error-page h6{margin:10px 0px;}
.error-page a:hover{
border-bottom: none;
}