
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INSPECTION VISIT REPORT</title>
</head>
<body style="font-family: Arial">
    <div style="margin:20px auto;">
        <table width="100%" style="border-spacing:0;">
            <tr>
                <td width="80%" style="text-align: center;">
                    <div style="margin-left: 160px;">
                        <span style="font-size: 20px; color: #000; font-family: Arial; font-weight: 600; line-height: 1.8;">TUV INDIA PRIVATE LIMITED</span>
                        <br><span style="font-size: 18px; color: #000; font-family: Arial;
    font-weight: 600;">INSPECTION VISIT REPORT</span>
                        <br><span style="font-size: 14px; color: #000; font-family: Arial;">IVR - Control Number - Sub Job Number - Sr. No.- Rev. 00</span>
                    </div>
                </td>
                <td width="20%"><span><a href="#"><img src="logo.jpg" alt="" style="width: 100px; text-align: right; float: right;"></a></span></td>
            </tr>
        </table>

        <table width="100%" border="1px solid #000;" style="border-spacing:0; border-bottom-width: 0px;" cellpadding="7">
            <tr>
                <td colspan="4" style="background-color: #efefef;"><span style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold;">General:</span></td>
            </tr>
            <tr>
                <td width="25%"><span><strong>TUV India Control Number:</strong></span></td>
                <td width="25%"></td>
                <td width="25%"><span><strong>Branch:</strong></span></td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td width="25%"><span><strong>Notification Number:</strong></span></td>
                <td width="25%"></td>
                <td width="25%"><span><strong>Date(s) of Inspection:</strong></span></td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td width="25%"><span><strong>Project Name & Location:</strong></span></td>
                <td width="25%"></td>
                <td width="25%"><span><strong>Inspection Location:</strong></span></td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td width="25%"><span><strong>TUVIPL Client Name:</strong></span></td>
                <td width="25%"></td>
                <td width="25%"><span><strong>End User Name:</strong></span></td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td width="25%"><span><strong>DEC / PMC / EPC Name:</strong><br>(If applicable)</span></td>
                <td width="25%"></td>
                <td width="25%"><span><strong>DEC / PMC / EPC Assignment Number:</strong><br>(If applicable)</span></td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td width="25%"><span><strong>Vendor Name & Location:</strong></span></td>
                <td width="25%"></td>
                <td width="25%"><span><strong>P.O. Number:</strong><br>(Client PO on Vendor)</span></td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td width="25%"><span><strong>Sub Vendor Name & Location:</strong><br>(If applicable)</span></td>
                <td width="25%"></td>
                <td width="25%"><span><strong>P.O. Number:</strong><br>(If applicable – Vendor PO on Sub Vendor)</span></td>
                <td width="25%"></td>
            </tr>
            <tr>
                <td colspan="5" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Stages Of Inspection:</span></td>
            </tr>
            <tr>
                <table width="100%" border="1px solid #000;" style="border-spacing:0; border-top-width: 0px; border-bottom-width: 0px;" cellpadding="5">
                    <tr>
                        <td align="center"><span>0</span></td>
                        <td><span style="font-size: 18px;">Kick Off / Pre Inspection Meeting</span></td>
                        <td align="center"><span>0</span></td>
                        <td><span style="font-size: 18px;">Material Identification</span></td>
                        <td align="center"><span>0</span></td>
                        <td><span style="font-size: 18px;">Interim Stages</span></td>
                    </tr>
                    <tr>
                        <td align="center"><span>0</span></td>
                        <td><span style="font-size: 18px;">Document Review</span></td>
                        <td align="center"><span>0</span></td>
                        <td><span style="font-size: 18px;">Final Inspection</span></td>
                        <td align="center"><span>0</span></td>
                        <td><span style="font-size: 18px;">Re-Inspection</span></td>
                    </tr>
                </table>
            </tr>
            <table width="100%" border="1px solid #000;" style="border-spacing:0; border-top-width: 0px;" cellpadding="7">
                <tr>
                    <td colspan="7" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Item Description:</span></td>
                </tr>
                <tr>
                    <td rowspan="2" width="10%"><span><strong>P.O. Item Number</strong></span></td>
                    <td rowspan="2" width="10%"><span><strong>Item Code</strong></span></td>
                    <td rowspan="2" width="30%"><span><strong>Item Description</strong></span></td>
                    <td width="10%"><span><strong>Unit</strong></span></td>
                    <td width="10%"><span><strong>P.O. Quantity</strong></span></td>
                    <td width="10%"><span><strong>Offered Quantity</strong></span></td>
                    <td width="10%"><span><strong>Accepted Quantity</strong></span></td>
                </tr>
            </table>
        </table>

        <br>
        <table width="100%" border="1px solid #000;" style="border-spacing:0;" cellpadding="10">
            <tr>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="30%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
            </tr>
            <tr>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="30%"><span style="font-size: 16px;">Check possibilities of options like type / copy-paste  /   upload in excel or word pad</span></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
            </tr>
            <tr>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="30%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
            </tr>
            <tr>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="30%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
            </tr>
        </table>

        <br>
        <table width="100%" border="1px solid #000;" style="border-spacing:0; border-bottom-width: 0px;" cellpadding="7">
            <tr>
                <td colspan="4" style="background-color: #efefef;"><span style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold;">Reference Documents:</span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span><strong>Sr. No.</strong></span></td>
                <td width="15%"><span><strong>Document Name</strong></span></td>
                <td width="50%"><span><strong>Document Number</strong></span></td>
                <td width="25%"><span><strong>Approval Status</strong></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span style="font-size: 18px;">1)</span></td>
                <td width="15%"><span style="font-size: 18px;">PR / MR / ARM</span></td>
                <td width="50%"><span style="font-size: 18px;">System generated from previous visit reports for the same sub job number</span></td>
                <td width="25%"><span></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span style="font-size: 18px;">2)</span></td>
                <td width="15%"><span style="font-size: 18px;">QAP / ITP / QCP</span></td>
                <td width="50%"><span style="font-size: 18px;">Also Remind to mentioned revision number</span></td>
                <td width="25%"><span style="font-size: 18px;">Remind to enter approval authority name & code</span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span style="font-size: 18px;">3)</span></td>
                <td width="15%"><span style="font-size: 18px;">Drawing(s)</span></td>
                <td width="50%"><span style="font-size: 18px;"></span></td>
                <td width="25%"><span style="font-size: 18px;"></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span style="font-size: 18px;">4)</span></td>
                <td width="15%"><span style="font-size: 18px;">Procedure(s)</span></td>
                <td width="50%"><span style="font-size: 18px;"></span></td>
                <td width="25%"><span style="font-size: 18px;"></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span style="font-size: 18px;">5)</span></td>
                <td width="15%"><span style="font-size: 18px;">Datasheet(s)</span></td>
                <td width="50%"><span style="font-size: 18px;"></span></td>
                <td width="25%"><span style="font-size: 18px;"></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span style="font-size: 18px;">6)</span></td>
                <td width="15%"><span style="font-size: 18px;">Others (Specify)</span></td>
                <td width="50%"><span style="font-size: 18px;">Provide tab / enter option to add  & separate option to delete row</span></td>
                <td width="25%"><span style="font-size: 18px;"></span></td>
            </tr>

            <tr>
                <td colspan="5" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Inspection Activities Carried Out:</span></td>
            </tr>
            <tr>
                <td colspan="5"><span><strong>Stages Witnessed:</strong></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span>1)</span></td>
                <td width="90%" colspan="3"><span style="font-size: 18px;">Provide tab / enter option to add  & separate option to delete row</span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span>2)</span></td>
                <td width="90%" colspan="3"><span style="font-size: 18px;">Check possibility of providing  suggestions for standard statements</span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span>3)</span></td>
                <td width="90%" colspan="3"><span style="font-size: 18px;"></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span>4)</span></td>
                <td width="90%" colspan="3"><span style="font-size: 18px;"></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span>5)</span></td>
                <td width="90%" colspan="3"><span style="font-size: 18px;"></span></td>
            </tr>
            <tr>
                <td colspan="5"><span><strong>Documents Reviewed:</strong></span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span>1)</span></td>
                <td width="90%" colspan="3"><span style="font-size: 18px;">Provide tab / enter option to add  & separate option to delete row</span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span>2)</span></td>
                <td width="90%" colspan="3"><span style="font-size: 18px;">Check possibility of providing  suggestions for standard statements</span></td>
            </tr>
            <tr>
                <td width="10%" align="center"><span>3)</span></td>
                <td width="90%" colspan="3"><span style="font-size: 18px;"></span></td>
            </tr>
            <tr>
                <td colspan="5" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Details of Equipment(s) / Instrument(s) used for measuring / testing During Inspection:</span></td>
            </tr>
            <tr>
                <table width="100%" border="1px solid #000;" style="border-spacing:0; border-top-width: 0px; border-bottom-width: 0px;" cellpadding="10">
                    <tr>
                        <td align="center"><span><strong>Sr. No.</strong></span></td>
                        <td><span><strong>Name of Equipment(s) / Instrument(s)</strong></span></td>
                        <td><span><strong>Range</strong></span></td>
                        <td><span><strong>ID</strong></span></td>
                        <td><span><strong>Calibration Valid till Date</strong></span></td>
                        <td><span><strong>Certificate Number with Date</strong></span></td>
                    </tr>
                    <tr>
                        <td align="center"><span style="font-size: 18px;">1)</span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center"><span style="font-size: 18px;">2)</span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td align="center" style="border-right-width: 0px;"><span><input type="checkbox" name="" value="" checked></span></td>
                        <td colspan="5" align="left" style="border-left-width: 0px;"><span style="font-size: 13px;">All Measuring instrument(s) / Equipment (s) mentioned above were verified for suitability for intended use, proper identification and calibration status as per NABCB Document BCB 110 (IB)/Mar 2017, Clause No: 5.0(i) to 5(v) & WI/INSP/36/00 – Found acceptable.</span></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Conclusion (Acceptable / Not Acceptable / Acceptance subject to):</span></td>
                    </tr>
                    <tr>
                        <td colspan="6"><span style="font-size: 18px;">Check possibility of providing  suggestions for standard statements</span></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Pending activities:</span></td>
                    </tr>
                    <tr>
                        <td colspan="6"><span style="font-size: 18px;"></span></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Identification of inspected Item(s):</span></td>
                    </tr>
                    <tr>
                        <td colspan="6"><span style="font-size: 18px;">Check possibility of providing  suggestions for standard statements with or without stamp images.</span></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Areas of Concerns:</span></td>
                    </tr>
                    <tr>
                        <td colspan="6"><span style="font-size: 18px;"></span></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Non Conformities raised / Discrepancies observed during inspection</span> <i>(If Any, Mention TUV India NCR Number):</i></td>
                    </tr>
                    <tr>
                        <td colspan="6"><span style="font-size: 18px;"></span></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Attachments:</span></td>
                    </tr>
                    <tr>
                        <table width="100%" border="1px solid #000;" style="border-spacing:0; border-top-width: 0px; border-bottom-width:0px;" cellpadding="10">
                            <tr>
                                <td width="5%" align="center" style="border-right-width: 0px;"><span><input type="checkbox" name="" value="" checked></span></td>
                                <td width="35%" style="border-right-width: 0px; border-left-width: 0px;"><span>Inspection records pdf/ jpg – Total Page Nos.</span></td>
                                <td width="20%" style="border-left-width: 0px;"><span>0</span></td>
                                <td width="5%" align="center" style="border-right-width: 0px;"><span><input type="checkbox" name="" value="" checked></span></td>
                                <td width="13%" style="border-right-width: 0px; border-left-width: 0px;">Others (Specify) :</td>
                                <td width="42%" style="border-left-width: 0px;">None</td>
                            </tr>
                            <tr>
                                <td width="5%" align="center" style="border-right-width: 0px;"><span><input type="checkbox" name="" value="" checked></span></td>
                                <td width="35%" style="border-right-width: 0px; border-left-width: 0px;"><span>Inspection Photos jpg – Refer Page Nos.</span></td>
                                <td width="20%" style="border-left-width: 0px;"><span>3</span></td>
                                <td width="5%" align="center" style="border-right-width: 0px;"><span><input type="checkbox" name="" value="" checked></span></td>
                                <td width="13%" style="border-right-width: 0px; border-left-width: 0px;" align="left">Others (Specify) :</td>
                                <td width="42%" style="border-left-width: 0px;" align="left">None</td>
                            </tr>

                            <tr>
                                <td colspan="6" style="font-size: 19px; color: #000; font-family: Arial; font-weight: bold; background-color: #efefef;"><span>Attachments:</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" width="50%"><span><strong>TUV India representative:</strong></span></td>
                                <td colspan="3" width="50%"><span><strong>Vendor / Sub Vendor Representative</strong> (If Applicable):</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" width="50%" height="200" align="center"><span style="font-size: 18px;">Check possibility of stamp associated with user ID</span></td>
                                <td colspan="3" width="50%" height="200" align="center"><span style="font-size: 18px;">Check possibility of stamp associated with user ID</span></td>
                            </tr>

                            <table width="100%" border="1px solid #000;" style="border-spacing:0; border-top-width: 0px; border-bottom-width:0px;" cellpadding="10">
                                <tr>
                                    <td align="left" style="border-right-width: 0px;"><span><strong>Name:</strong></span><span></span></td>
                                    <td style="border-left-width: 0px;" align="right"><span><strong>Date:</strong></span><span>19-02-2019</span></td>
                                    <td colspam="2" width="457" style="border-right-width: 0px;" align="left"><span><strong>Name:</strong></span><span></span></td>
                                </tr>
                                <table width="100%" border="1px solid #000;" style="border-spacing:0; border-top-width: 0px;" cellpadding="7">
                                    <tr>
                                        <td><span><strong>Distribution List:</strong></span></td>
                                        <td>
                                            <span><input type="checkbox" name="" value="" checked> TUVI Client / End User</span>
                                            <span><input type="checkbox" name="" value="" checked> TUVI Executing Branch / TUV Originating Branch</span>
                                            <span><input type="checkbox" name="" value="" checked> Vendor / Sub Vendor</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%" style="border-spacing:0; border-right-width: 0px; border-bottom-width: 0px;"><span><strong>Revision Number</strong> (If Applicable):  00.  –</span></td>
                                        <td width="70%" style="border-spacing:0; border-left-width: 0px; border-bottom-width: 0px;"><span>Type justification for revision here .</span></td>
                                    </tr>
                                    <tr>
                                        <td width="30%" style="border-spacing:0; border-right-width: 0px; border-top-width: 0px;"><span><strong>This Document Supersedes IVR No. :</strong></span></td>
                                        <td width="70%" style="border-spacing:0; border-left-width: 0px; border-top-width: 0px;"><span>Mention Previous IVR Number.</span></td>
                                    </tr>
                                </table>
                            </table>
                        </table>
                    </tr>
                </table>
            </tr>
        </table>

       
        <p style="font-size: 15px; padding: 0px; margin:0px;"><strong>Disclaimer:</strong> <i>The inspection by TUV India Pvt. Ltd., review of Test Certificates / Reports and issue of Inspection Visit Report does not relieve the Supplier / Manufacturer / Stockiest from their responsibility towards the Client / End User to supply the genuine material / item(s) and document(s) in full compliance with applicable Order, Specification, Technical, Quality, Quantity, Warranty, Guarantee requirements. Supplier / Manufacturer / stockiest is wholly legally responsible for genuineness of the material / item(s) supplied and document(s) submitted. TÜV India’s  responsibility is only limited to correctness of inspection results including review of the documents, within its agreed scope against written requirements and neither TUV India nor any of its group companies, associates or employees are in any way/ legally responsible for genuineness of the material / item(s) and document(s).</i></p>

        <p style="font-size: 15px; padding: 0px; margin:0px;"><strong>Copyright:</strong> <i>This document is the property of TUV India and should not be reproduced, except in full without the consent of TUV India Pvt. Ltd.</i></p>

        <p style="font-size: 15px; padding: 0px; margin:0px;"><strong>TUV IPL (TÜV NORD GROUP):</strong> (REGD. & HEAD OFFICE), 801, Raheja Plaza - I, LBS Marg, Ghatkopar (West), Mumbai – 400086, Maharashtra, India. </p>
        <p style="font-size: 15px; padding: 0px; margin:0px;">Tel: <a href="tel:+912266477000">+ 91 22 66477000</a>, Email: <a href="mailto:inspection@tuv-nord.com">inspection@tuv-nord.com</a> Website: <a href="http://www.tuv-nord.com/in">www.tuv-nord.com/in</a></p>
        <br><p style="font-size: 15px; padding: 0px; margin:0px;"><strong>Form No.:</strong> F / INSP / VR / 11 – R9; Revision Date: 19.02.2019</p>

        <br>
        <hr>
        <br>
    </div>
</body>
</html>
