.nav-tabs-pop-ul {
	display: inline-block;
    width: 100%;
    list-style: none;
    border-bottom: 0;
    padding-inline-start: 0px;
}
.nav-tabs-pop-ul li {
	display: block;
    width: 100%;
}
.nav-tabs-pop-ul li a {
	display: inline-block;
    width: 100%;
}
.nav-tabs-pop-ul>li.active>a {
	padding: 8px 10px;
	border: 0;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 13px;
}
.nav-tabs-pop-ul>li.active>a:hover,
.nav-tabs-pop-ul>li.active>a:focus {
	padding: 8px 10px;
	border: 0;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
	background-color: #f1f1f1;
}
.nav-tabs-pop-ul .dropdown-menu {
	width: 100%;
}
.nav-tabs-pop-ul .dropdown-menu>.active>a, 
.nav-tabs-pop-ul .dropdown-menu>.active>a:hover, 
.nav-tabs-pop-ul .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #001ED2;
}

.checkbox-ul {
	display: block;
	margin: 0;
	padding: 0;
}
.checkbox-ul li {
	display: block;
	list-style-type: none;
	font-size: 13px;
	cursor: pointer;
}
.checkbox-ul li label {
	font-weight: normal;
	cursor: pointer;
}
.checkbox-ul li label input {
	font-weight: normal;
	float: left;
    line-height: 22px;
}
.checkbox-ul li label span {
	display: block;
	padding-left: 20px;
	cursor: pointer;
}
.textcontent {
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid #dee2e6;
	height: 100px;
	overflow-y: auto;
}