  @page {
            margin: 5mm;
          }

          @media print {
            .page-header{visibility: visible;}
             thead {display: table-header-group;} 
             tfoot {display: table-footer-group;}
             body {margin: 0;}
          }
  


/*@media print {

body {
background-color: rgba(0,0,0,0) !important;
}

    .logo-header-main, .printquot, .cke_top, .cke_bottom {
        display:none!important;

    }

    input, .form-control, .cke_chrome{
        border:0;
        outline:none;
        box-shadow:0;
    }*/

    


}


   
       
         
