@charset "utf-8";

@font-face {
	font-family: mont-reg;
	src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: mont-med;
	src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
	font-family: mont-semi;
	src: url(../fonts/Montserrat-SemiBold.ttf);
}

img {
	max-width: 100%;
}

body {
	font-family: mont-med, helvetica, arial, sans-serif;
	background-color: #ffffff;
	color: #333333;
	font-size: 14px;
}

.white-bg {
	background-color: #ffffff;
}

.grey-bg-f3 {
	background-color: #f3f3f3;
}

.grey-bg-f6 {
	background-color: #f6f6f6;
}

.light-blue-bg {
	background-color: #eaeefd;
}

.padding-reset {
	padding-left: 0px;
	padding-right: 0px;
}

.margin-reset {
	margin-left: 0px;
	margin-right: 0px;
}

a, button, .transition-all, .form-control {
	-webkit-transition:all 0.2s linear 0.02s;
	-o-transition:all 0.2s linear 0.02s;
	-moz-transition:all 0.2s linear 0.02s;
	transition:all 0.2s linear 0.02s;
}

.assignfixedwidth {
	max-width: 1200px;
	margin: 0 auto;
}

.rp-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.rp-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.rp-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.rp-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.rp-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.rp-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

/*Scroll to top*/
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
	z-index: 2;
}
.scroll {
	position: absolute;
    right: 20px;
    bottom: 20px;
    background: #000;
    padding: 8px 10px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 50%;		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size: 26px;
    margin-top: -4px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
	color: #ffffff;
}
/*Scroll to top*/

/*Fixed Nav*/
.nav-position-fixed {
	position: fixed !important;
	left: 0;
	right: 0;
	animation: slide-down 0.7s;
	-webkit-transition:all 0.2s linear 0.02s;
	-o-transition:all 0.2s linear 0.02s;
	-moz-transition:all 0.2s linear 0.02s;
	transition:all 0.2s linear 0.02s;
	-webkit-box-shadow: 0px 4px 22px -5px rgba(235,235,235,1);
	-moz-box-shadow: 0px 4px 22px -5px rgba(235,235,235,1);
	box-shadow: 0px 4px 22px -5px rgba(235,235,235,1);
	z-index: 6;
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 0.9;
		transform: translateY(0%);
	}
}

/*login*/
.min-height-100vh {
	height: 100vh;
}
.main-bg {
	background-image: url(../images/login/tuevnordgroup_hannover.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: rgba(51,51,153,0.5);
}
.login-welcome-person {
	display: block;
	margin: 0 auto;
	margin-top: 24%;
}
.login-form-box {
	display: block;
	width: 70%;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 40px;
	margin-top: 25%;
	margin-bottom: 10%;
	text-align: center;
	box-shadow: 0 0 40px #3c3c3c;
    -webkit-box-shadow: 0 0 40px #3c3c3c;
    -moz-box-shadow: 0 0 40px #3c3c3c;
}
.login-logo {
	display: inline-block;
	max-width: 100px;
	margin-bottom: 35px;
}
.login-form-box .form-control {
	background-color: #ececec;
	height: 50px;
	border: 2px solid #ececec;
	border-radius: 0;
	margin-bottom: 20px;
	outline: none;
	box-shadow: none;
	font-family: mont-reg;
}
.login-form-box .form-control:focus {
	background-color: #ffffff;
	color: #000;
	font-family: mont-med;
}
.help-block {
	font-size: 13px;
	margin: 0;
}
.help-block a {
	color: #104193;
}
.help-block a:hover {
	color: #008de8;
	text-decoration: none;
}
.mt-15 {
	margin-top: 15px;
}
.login-form-box label {
	color: #104193;
	font-family: mont-semi;
	font-size: 13px;
	cursor: pointer;
	margin: 0;
}
.login-form-box .checkbox {
	margin-top: 0;
	margin-bottom: 0;
}
.login-btn {
	background-color: #104193;
	border-color: #104193;
	color: #fff;
	padding: 6px 40px;
	border-radius: 30px;
	outline: none;
	margin-top: 10px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 2px 12px 0px rgba(158,158,158,1);
	-moz-box-shadow: 0px 2px 12px 0px rgba(158,158,158,1);
	box-shadow: 0px 2px 12px 0px rgba(158,158,158,1);
}
.login-btn:hover, .login-btn:focus {
	color: #fff !important;
	background-color: #008de8 !important;
	border-color: #008de8 !important;
	outline: none !important;
}
.footer-text {
	color: #ffffff;
	font-size: 11px;
}
.footer-text a {
	color: #008de8;
	text-decoration: none;
}
.footer-text a:hover {
	color: #85a6ff;
	text-decoration: none;
}
@media only screen and (min-width: 992px){
	.floating-bottom-footer {
	position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 4%;
	}
}
/*login*/

.main-content {
	max-height: 620px;
}

.main-content2 {
	min-height: 820px;
	padding-bottom: 20px;
}

.main-content3 {
	min-height: 700px;
	padding-bottom: 20px;
}


/*logo header*/
.logo-header-hide {
	display: none;
}
a.logo {
	display: inline-block;
	max-width: 120px;
}
.user-account-btn-group button {
	margin-top: 35px;
	background-color: transparent;
}
.user-account-btn-group button:focus, .user-account-btn-group button:hover {
	background-color: transparent;
	outline: none;
	box-shadow: none !important;
}
.user-account-btn-group button > .user-acc-text {
	display: inline-block;
}
.user-account-btn-group button > .user-acc-text:after {
	content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: #333;
} 
.user-account-btn-group button:focus > .user-acc-text:after {
	content: "\f106";
}
.user-account-btn-group-dd {
	z-index: 99999;
	border: 0;
	margin-top: 5px;
	background-color: rgb(16, 65, 147);
	left: auto;
    right: 0;
}
.user-account-btn-group-dd>li>a {
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
}
.user-account-btn-group-dd>li>a:hover {
	background-color: #0c2f69;
	color: #fff;
}
.user-account-btn-group.animated > .dropdown-menu {
	display: block;
	top: 0;
	z-index: -1;
	transition: all 0.3 linear;
	opacity: 0;
}
.user-account-btn-group.animated.open > .dropdown-menu {
    top: 100%;
    transition: all 0.25s ease;
    opacity: 1;
    z-index: 1000;
}
/*logo header*/

/*nav header*/
.navbar-custom {
	border: 0;
	border-radius: 0;
	background-color: #104193;
	margin-bottom: 0;
	-webkit-box-shadow: 1px 9px 21px -15px rgb(0, 0, 0);
	-moz-box-shadow: 1px 9px 21px -15px rgb(0, 0, 0);
	box-shadow: 1px 9px 21px -15px rgb(0, 0, 0);
	z-index: 1;
}
.navbar-brand-custom {
	color: #ffffff !important;
	font-family: mont-semi;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 3px;
}
.navbar-nav-custom > li > a {
	color: #ffffff !important;
	font-family: mont-med;
	padding: 18px 20px;
}
.navbar-nav-custom > li > a.dropdown:after {
	content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    color: #fff;
    visibility: visible;
}
.navbar-nav-custom > li:hover > a.dropdown:after,
.navbar-nav-custom > li:focus > a.dropdown:after {
	content: "\f106";
	visibility: hidden;
}
.navbar-nav-custom > li > a:hover,
.navbar-nav-custom > li > a:focus,
.navbar-nav-custom > li:hover > a.dropdown,
.navbar-nav-custom > li:focus > a.dropdown,
.navbar-nav-custom>.open>a.dropdown, 
.navbar-nav-custom>.open>a.dropdown:hover, 
.navbar-nav-custom>.open>a.dropdown:focus {
	background-color: #0c2f69;
}
.navbar-nav-custom li > .dropdown-menu {
	background-color: rgba(16, 65, 147, 0.98);
	border: 0;
	border-radius: 0;
	border-top: 2px solid #fff;
}
.navbar-nav-custom li > .dropdown-menu li a {
	color: #ffffff;
	font-family: mont-reg;
	padding: 8px 20px;
	font-size: 13px;
}
.navbar-nav-custom li > .dropdown-menu li a:hover {
	background-color: #0c2f69;
}
.navbar-nav-custom .dropdown-submenu > a:after {
	content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 8px;
    float: right;
    color: #fff;
}
.navbar-nav-custom .dropdown-submenu .dropdown-menu {
	background-color: rgba(16, 65, 147, 0.95);
	border: 0;
	border-radius: 0;
	border-top: 2px solid #fff;
}
.dropdown-submenu {
  	position: relative;
}
.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	right: auto;
}
.dropdown-submenu .dropdown-menu-left {
    top: 0;
    left: auto;
    right: 100%;
}
.navbar-toggle-custom {
    padding: 8px 7px;
    margin-top: 9px;
    background-color: #d0d9f4;
    border: 1px solid #d0d9f4;
    border-radius: 50%;
}
.navbar-toggle-custom .icon-bar {
    width: 18px;
    height: 2px;
    background-color: #339;
}
/*nav header*/

/*index*/
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
    filter: none !important;
}
.carousel-control.left>.banner_arrow, .carousel-control.right>.banner_arrow {
    width: 43px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 48%;
    z-index: 5;
    display: inline-block;
    margin-top: 0;
    background-color: transparent;
    border: 2px solid #a0a0a0;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #a0a0a0;
    text-shadow: none;
}
.carousel-control.left>.banner_arrow {
    left: 35%;
}
.carousel-control.right>.banner_arrow {
    right: 35%;
}
.carousel-indicators-custom li {
    background-color: #b9c8ff;
    border-color: #b9c8ff;
}
.carousel-indicators-custom .active {
    background-color: #85a6ff;
    border-color: #85a6ff;
}
/*index*/

/*footer*/
.footer-bg {
	background-color: #eeeeee;
}
.footer-text-2 {
	display: inline-block;
	margin: 0;
	font-size: 11px;
	color: #333;
	font-family: mont-semi;
}
.footer-text-2 a {
	color: #85a6ff;
	text-decoration: none;
}
.footer-text-2 a:hover {
	color: #008de8;
}
.foo-social {
	display: inline-block;
	font-size: 12px;
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 1px 5px;
	border-radius: 50%;
	background-color: #104193;
	color: #fff !important;
}
.foo-social:hover {
	background-color: #000;
}
/*footer*/

/*gallery*/
.overlay-header {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(133, 166, 255, 0.70);
}
.banner-header {
	padding: 40px 40px;
}
.banner-header h3 {
	margin: 0;
	color: #104193;
	font-family: mont-semi;
	margin-bottom: 10px;
}
.banner-header p {
	margin: 0;
	color: #fff;
	font-family: mont-reg;
	font-size: 20px;
}
.section-box-shadow {
	box-shadow: 0px 5px 17px -6px rgba(51, 51, 153, 0.28);
	-webkit-box-shadow: 0px 5px 17px -6px rgba(51, 51, 153, 0.28);
	-moz-box-shadow: 0px 5px 17px -6px rgba(51, 51, 153, 0.28);
	-o-box-shadow: 0px 5px 17px -6px rgba(51, 51, 153, 0.28);
	-moz-box-shadow: 0px 5px 17px -6px rgba(51, 51, 153, 0.28);
}
.gallery-filter-tab {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 10px;
}
.gallery-filter-tab li {
	list-style-type: none;
	display: inline-block;
	border: 1px solid #104193;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 0;
    background-color: #104193;
    cursor: pointer;
    color: #fff;
    font-family: mont-med;
}
.gallery-filter-tab li:hover, .gallery-filter-tab li:focus, .gallery-filter-tab li.filtr-active {
	background-color: #008de8;
	color: #ffffff;
	border: 1px solid #008de8;
}
a.gallery-thumb {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	border: 1px solid #d6d6d6;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-family: mont-med;
}
a.gallery-thumb img {
	height: 225px;
    object-fit: cover;
}
.gallery-thumb-title {
	margin: 0;
    margin-top: 10px;
    color: #000;
}
.gallery-thumb-subtitle {
	margin: 0;
    margin-top: 5px;
    color: #a0a0a0;
    font-size: 12px;
}
.gallery-thumb-calltoaction {
	margin: 0;
    margin-top: 5px;
    color: #104193;
    font-size: 12px;
}
.fancybox-skin {
	margin-top: 10px !important;
    border-top-left-radius: 65px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 65px !important;
    border-bottom-left-radius: 0 !important;
    padding: 10px !important;
    padding-bottom: 10px !important;
}
.fancybox-outer, .fancybox-inner {
    overflow: hidden;
}
.fancybox-inner {
	height: 420px !important;
    width: 100% !important;
}
.fancybox-image {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 55px !important;
    border-bottom-right-radius: 55px !important;
    height: 420px;
    object-fit: cover;
}
.fancybox-opened .fancybox-title {
    visibility: visible;
    padding-left: 15px;
    text-align: center;
}
/*gallery*/

/*my profile*/
.profile-box-left {
	padding: 30px 10px;
}
.profile-box-left img {
	height: 160px;
	object-position: center;
	object-fit: cover;
	border-radius: 5px;
}
.user-name {
	margin: 0;
	color: #333;
    font-family: mont-semi;
    font-size: 15px;
    margin-top: 20px;
}
.user-email {
	display: block;
	color: #008de8;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.user-email:hover {
	text-decoration: none;
	color: #104193;
}
.profile-title {
	margin: 0;
	color: #008de8;
	font-size: 14px;
	margin-bottom: 14px;
	border-left: 3px solid #008de8;
	padding-left: 5px;
}
.profile-title span {
	color: #333;
}
.profile-title-without {
	margin: 0;
	color: #a0a0a0;
	font-size: 12px;
	margin-bottom: 10px;
}
.profile-desc {
	margin: 0;
	margin-bottom: 5px;
}
.profile-desc-1 {
	display: inline-block;
	width: 30%;
}
.profile-desc-2 {
	width: 70%;
}
.btn-box-right {
	padding-top: 30px;
}
.profile-box-right {
	padding: 10px 10px 30px 10px;
}
.borderless td, .borderless th {
    border: none !important;
}
.table-custom {
	margin-bottom: 0;
}
.table-custom tbody td {
	font-size: 14px;
}
.table-custom tbody td:first-child {
	width: 25%;
	font-size: 14px;
	color: #a0a0a0;
}
.table-custom tbody td:last-child {
	width: 75%;
}
.table-custom>thead>tr>th, 
.table-custom>tbody>tr>th, 
.table-custom>tfoot>tr>th, 
.table-custom>thead>tr>td, 
.table-custom>tbody>tr>td, 
.table-custom>tfoot>tr>td {
    padding: 6px 0;
}
.btn-dark-blue {
	display: inline-block;
    border: 1px solid #008de8;
    padding: 6px 10px;
    font-size: 11px;
    border-radius: 0;
    background-color: #008de8;
    cursor: pointer;
    color: #fff;
    font-family: mont-med;
}
.btn-dark-blue:hover {
	background-color: #104193;
	border: 1px solid #104193;
	color: #fff;
}
/*my profile*/

/*News*/
.page-title {
    background-color: #008de8;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.page-title-box {
    display: block;
}
.page-title-box i {
    display: inline-block;
    float: left;
    margin-right: 0;
    font-size: 16px;
    line-height: 16px;
}
.page-title h2 {
    padding: 0;
    margin: 0;
    font-family: mont-semi;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    border-left: 3px solid #ffffff;
    margin-left: 35px;
}
.listing {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    padding: 15px 15px;
    border: 1px solid #e6e6e6;
    font-family: mont-reg;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}
.news-img {
    display: inline-block;
    float: left;
    width: 15%;
    margin-right: 3%;
}
.news-img img {
	height: 150px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #dadada;
	object-fit: cover;
	object-position: left;
}
.news-img-inner {
	float: left;
	width: 40%;
	margin-right: 25px;
	margin-bottom: 10px;
}
.news-basic-details {
    display: inline-block;
    width: 82%;
}
.news-basic-details2 {
    display: inline-block;
    width: 100%;
    padding: 20px;
}
.news-basic-details h3, .news-basic-details2 h3 {
    margin: 0;
    margin-top: 10px;
    color: #333;
    font-size: 20px;
    font-family: mont-semi;
}
.news-basic-details p, .news-basic-details2 p {
    margin: 0;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    font-family: mont-reg;
}
.news-basic-details h4, .news-basic-details2 h4 {
    margin: 0;
    margin-top: 10px;
    color: #333;
    font-size: 12px;
    font-family: mont-reg;
}
.news-btn {
	display: inline-block;
    border: 1px solid #104193;
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #104193;
    cursor: pointer;
    color: #fff;
    font-family: mont-med;
}
.news-btn:hover, .news-btn:focus {
    border: 1px solid #008de8;
    background-color: #008de8;
    color: #fff;
}
.news-img2 {
	width: 100%;
    overflow: hidden;
    display: block;
}
.news-img2 img {
	width: 100%;
	height: 400px;
    object-fit: cover;
    padding: 20px;
    padding-bottom: 0;
}
/*News*/

/*PDF Pages - Quality Objectives & HSE Policy*/
#holder{
  background: #eee;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
#holder iframe {
	width: 90%;
	margin: 0 auto;
	height: 600px;
	padding: 20px;
	overflow-y: hidden;
}
/*PDF Pages - Quality Objectives & HSE Policy*/

/*MD Speak*/
.speak-title {
	margin: 0;
	color: #333;
	font-family: mont-semi;
	margin-bottom: 20px;
}
.speak-content {
	display: block;
	padding: 20px;
}
.speak-content-title {
	font-size: 18px;
    color: #104193;
    margin: 0;
    margin-bottom: 20px;
}
.speaker-name {
	margin: 0;
	margin-top: 20px;
	color: #000;
	font-family: mont-semi;
}
.speaker-designation {
	margin: 0;
	margin-bottom: 5px;
	color: #000;
	font-family: mont-semi;
	font-size: 12px;
}
.speaker-company {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #000;
	font-family: mont-semi;
	font-size: 12px;
}
.md-photo {
	width: 100%;
	height: 380px;
	object-fit: cover;
}
/*MD Speak*/

/*Cluster Head Speak*/
.speak-content-title2 {
    color: #104193;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.speak-content-subtitle {
    color: #a0a0a0;
    margin: 0;
    margin-bottom: 25px;
    font-size: 14px;
    text-transform: uppercase;
}
.md-photo2 {
	height: 240px;
}
/*Cluster Head Speak*/

/*Vision*/
.guiding-quote {
	margin: 0;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #ffffff;
    font-family: mont-semi;
    background-color: #104193;
    padding: 10px 15px;
    border-top-left-radius: 10px;
}
.guiding-quote span {
	font-size: 12px;
	font-family: mont-reg;
}
.vision-title {
	margin: 0;
	display: inline-block;
	padding: 10px 30px;
	border: 2px solid #f4c716;
	color: #fff;
	background-color: #f4c716;
	text-transform: uppercase;
	font-size: 20px;
}
.value-box {
    background-color: #f3f3f3;
    padding: 20px 20px 30px 20px;
}
.value-img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
.small-text {
    margin: 0;
    font-size: 12px;
    color: #000;
    margin-top: 30px;
    text-transform: uppercase;
}
.big-text {
    margin: 0;
    color: #333;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 22px;
}
.vmv-bg {
	background-image: url(../images/vmv-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;	
}
.guide-box h3 {
	margin: 0;
	font-size: 22px;
	margin-top: 20px;
}
/*Vision*/


/*Listing Table*/
/*Extra code that changes width of td - Start*/
.custom-table {
  margin: 0 auto;
  width: 100%;
  clear: both;
  table-layout: fixed; 
  word-wrap:break-all; 
}
.custom-table .btn-custom {
    padding: 4px 8px !important;
    font-size: 12px !important;
    border-radius: 0;
}
.edit-btn {
    background-color: #3677e6 !important;
    border-color: #3677e6 !important;
}
.custom-table tbody tr td.less-width, .custom-table thead tr th.less-width {
	width: 65px !important;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #ececec !important;
}
/*Extra code that changes width of td - End*/
.dynamic-page-title {
	color: #104193;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.form-group-filter {
	margin-bottom: 0;
}
.dynamic-function-btn {
	display: inline-block;
    border: 1px solid #104193;
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 0;
    margin-bottom: 5px;
    background-color: #104193;
    cursor: pointer;
    color: #fff;
    font-family: mont-med;
}
.dt-buttons {
	display: inline-block;
	float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}
.dt-buttons .buttons-excel {
	display: inline-block;
    border: 1px solid #3677e6;
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 0;
    margin-bottom: 5px;
    background-color: #3677e6;
    cursor: pointer;
    color: #fff;
    font-family: mont-med;
}
.dataTables_scroll {
	margin-top: 20px;
	font-size: 13px;
}
.dataTables_filter input[type="search"] {
	font-family: mont-reg;
    padding: 5px 15px;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
	margin-top: 10px;
}
table.dataTable tbody th, table.dataTable tbody td {
    text-transform: initial;
}
div.dataTables_scrollHead table {
	background-color: #104193;
	font-weight: initial;
	color: #fff !important;
}
table.dataTable thead:last-child th {
	padding: 5px 5px;
}
table.dataTable thead th.remove-search input {
	display: none;
}
div.dataTables_scrollHead table input {
	color: #333 !important;
}
table.dataTable thead th {
	font-weight: initial !important;
	border-bottom: 0 !important;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #d4d4d4 !important;
}
.custom-hr {
	margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
/*Listing Table*/

/*Form*/
.dynamic-page-title-2 {
	display: inline-block;
}
.dynamic-function-btn-2 {
	float: right;
}
.form-col {
	margin-top: 10px;
}
.form-page-title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background-color: #3677e6;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: arial;
}
.form-box {
	display: inline-block;
    width: 100%;
	padding: 20px 20px 20px 20px;
}
.form-box .form-group label {
	font-size: 13px;
}
.form-box .form-control:not(textarea) {
	background-color: #fff;
    height: 38px;
    border: 1px solid #dee2e6;
    border-radius: 0;
    margin-bottom: 20px;
    outline: none;
    box-shadow: none;
    font-family: mont-reg;
    margin-bottom: 10px;
    font-size: 13px;
}
.form-box textarea.form-control {
	background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0;
    margin-bottom: 20px;
    outline: none;
    box-shadow: none;
    font-family: mont-reg;
    margin-bottom: 10px;
    font-size: 13px;
}
.form-box select.form-control {
	background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0;
    margin-bottom: 20px;
    outline: none;
    box-shadow: none;
    font-family: mont-reg;
    margin-bottom: 10px;
    font-size: 13px;
}
/*Select 2 styles start here*/
.select2-container--default .select2-selection--multiple {
    border: 1px solid #dee2e6 !important;
    border-radius: 0 !important;
    height: 55px !important;
}
/*Select 2 styles end here*/
.form-box .form-control:focus {
	border: 1px solid #8a8a8a;
}
.insert-form-btn {
	display: inline-block;
    border: 1px solid #3677e6;
    padding: 6px 14px;
    font-size: 13px;
    border-radius: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #3677e6;
    cursor: pointer;
    color: #fff;
    font-family: mont-med;
} 
.insert-form-btn:hover, .insert-form-btn:focus {
    border: 1px solid #3677e6;
    background-color: #3677e6;
    color: #fff;
}
span.multiselect-native-select {
    display: block !important;
}

span.multiselect-native-select .btn-group {
	width: 100%;
}

span.multiselect-native-select .btn-group button.multiselect {
	width: 100% !important;
    text-align: left !important;
    height: 38px !important;
    border-radius: 0 !important;
    background-color: #fff !important;
    border: 1px solid #c3c3c3 !important;
}

span.multiselect-native-select .open > .dropdown-menu {
    display: block;
    top: 100%;
}

.multiselect-container {
	width: 100%;
}

.multiselect-container > .active > a, .multiselect-container > .active > a:hover, .multiselect-container > .active > a:focus {
    /*background-color: #1c62d8;*/
    background-color: #3677e6;
}

.multiselect-container > .active > a > .checkbox {
	 color: #ffffff !important;
}
/*Form*/

/*Filepond*/
.filepond--item {
    width: calc(25% - .5em);
}
.filepond--list-scroller {
    width: 95% !important;
    margin: 0 auto !important;
}
.filepond--root { font-size: 1.5rem !important;max-height: 15em; }
/*Filepond*/

.validation-msg {
    font-size: 11px;
}

#contacts-dt {
    font-size: 12px !important;
}
#contacts-dt thead th {
    font-size: 12px !important;
}


@media only screen and (max-width: 1366px){

	.login-form-box {
    width: 60%;
    padding: 30px 30px;
    margin-top: 15%;
    }
    .login-logo {
    max-width: 80px;
    margin-bottom: 20px;
	}
	.login-form-box .form-control {
    height: 36px;
    margin-bottom: 0;
    }
    .login-welcome-person {
    margin-top: 10%;
	}
	a.logo {
    max-width: 100px;
	}
	.user-account-btn-group button {
    margin-top: 25px;
	}
	.navbar-custom {
	min-height: unset;
	}
	.navbar-brand-custom {
    font-size: 13px;
    margin-top: 0;
    height: auto;
    line-height: 15px;
    margin-left: 0 !important;
	}
	.navbar-nav-custom {
	margin-right: 0 !important;
	}
	.navbar-nav-custom > li > a {
    padding: 13px 20px;
	}
	.carousel-inner-custom {
	max-height: 447px;
	}
	.navbar-nav-custom .dropdown > .dropdown-menu li a {
    padding: 6px 15px;
	}
	.banner-header p {
    font-size: 18px;
	}
}

@media only screen and (max-width: 1200px){
	.login-welcome-person {
    margin-top: 15%;
	}
	.login-form-box {
    width: 90%;
    margin-top: 15%;
	}
	.banner-header h3 {
    font-size: 20px;
	}
	.banner-header p {
    font-size: 16px;
	}
}

@media only screen and (max-width: 991px){
	.login-form-box {
    width: 50%;
    }
    .navbar-nav-custom > li > a {
    padding: 10px 20px;
	}
	.navbar-nav-custom .dropdown > .dropdown-menu {
    border-bottom: 1px solid #2a2b8a;
	}
	.navbar-nav-custom .dropdown-submenu .dropdown-menu {
    background-color: rgb(39, 39, 117);
    border-top: 0;
	}
    .navbar-nav-custom .dropdown-submenu > a:after {
    float: inherit;
    }
    .banner-header h3 {
    font-size: 18px;
	}
	.profile-desc-1 {
    width: 40%;
    font-size: 12px;
	}
	.profile-desc-2 {
    width: 60%;
    font-size: 12px;
	}
	.news-img {
    width: 25%;
    }
    .news-basic-details {
    width: 100%;
	}
	.guiding-quote {
    font-size: 16px;
    }
    .vision-title {
    font-size: 18px;
	}
	.big-text {
    margin-top: 15px;
    font-size: 14px;
	}
	.filepond--item {
    width: calc(100% - .5em);
	}
}

@media only screen and (max-width: 767px){
	.xs-text-center {
	text-align: center;
	}
	.login-form-box {
    width: 100%;
    max-width: 480px;
	}
	a.logo {
    max-width: 80px;
	}
	.user-account-btn-group button {
    margin-top: 18px;
    }
    .carousel-control.left>.banner_arrow, .carousel-control.right>.banner_arrow {
    width: 35px;
    line-height: 12px;
    font-size: 15px;
    top: 40%;
    padding: 10px 8px;
	}
	.carousel-inner-custom {
    min-height: 245px;
	}
	.carousel-inner-custom>.item>img, .carousel-inner-custom>.item>a>img {
	width: 100%;
    height: 190px;
    object-fit: cover;
	}
	.banner-header {
    padding: 10px 40px;
	}
	.banner-header p {
    font-size: 14px;
	}
	.table-responsive-custom {
	border-color: transparent;
	}
	.table-custom tbody tr td {
	display: block;
	}
	.news-img {
    width: 65%;
	}
	.news-basic-details h3 {
    font-size: 16px;
	}
	.xs-max-height {
	max-height: 100%;
	}
	.fancybox-skin {
    border-top-left-radius: 45px !important;
    border-bottom-right-radius: 45px !important;
    padding: 10px !important;
	}
	.fancybox-inner {
	height: auto !important;
	}
	.fancybox-image {
	border-top-left-radius: 35px !important;
	border-bottom-right-radius: 35px !important;
	height: auto;
	object-fit: unset;
	}
	.value-box {
    padding: 10px 20px 30px 20px;
	}
	.big-text {
    font-size: 16px;
    margin-bottom: 0;
	}
	.dynamic-page-title {
    font-size: 18px;
    }
    .xs-text-left {
   	text-align: left;
    }
    .dynamic-function-btn {
    margin-top: 10px;
    }
    .dt-buttons {
    display: block;
    text-align: center;
    padding-bottom: 15px;
	}
}

@media only screen and (max-width: 480px){
	.login-form-box {
    padding: 10px 20px;
	}
	.login-logo {
    max-width: 75px;
    margin-bottom: 20px;
    margin-top: 20px;
	}
	.login-form-box .form-control {
	margin-bottom: 10px;
	}
	.help-block, .login-form-box label {
    font-size: 11px;
    }
    .login-btn {
    box-shadow: none;
    }
    .extreme-xs-pr {
    padding-left: 0;
    padding-right: 0;
    }
    .user-account-btn-group button {
    margin-top: 15px;
	}
	.user-account-btn-group-dd>li>a {
    padding: 7px 15px;
    font-size: 12px;
	}
	.carousel-control.left>.banner_arrow {
	left: 25%;
	}
	.carousel-control.right>.banner_arrow {
	right: 25%;
	}
	.carousel-control.left>.banner_arrow, .carousel-control.right>.banner_arrow {
    width: 25px;
    line-height: 0px;
    font-size: 13px;
    top: 38%;
    padding: 11px 5px;
	}
	.footer-text-2 {
	font-size: 9px;
	}
	.carousel-inner-custom {
    min-height: 210px;
	}
	.carousel-inner-custom>.item>img, .carousel-inner-custom>.item>a>img {
    height: 135px;
    }
    .banner-header {
    padding: 0px 40px;
	}
	.banner-header h3 {
    font-size: 15px;
	}
	.banner-header p {
    font-size: 13px;
	}
	.news-img {
    width: 100%;
	}
	.news-basic-details h3 {
    font-size: 15px;
	}
	.speak-content-title2 {
    font-size: 18px;
    }
    .guiding-quote {
    font-size: 12px;
	}
	.box {
	margin-top: 25px;
	}
	.gallery-filter-tab li {
    padding: 6px 15px;
    font-size: 10px;
    margin-bottom: 10px;
    }
    .news-bg {
    background-position: center!important;
    }
    
}

@media only screen and (max-width: 320px){}

