
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vision - Thank You For Using	</title>
    <!-- CSS -->
    <link href="~/AllJsAndCss/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AllJsAndCss/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/AllJsAndCss/css/thank-you-and-error.css" rel="stylesheet" />
</head>
<body class="outer-thank-you">
    <div class="container ">
        <div class="row">
            <div class="col-xs-12">
                <div class="thank-you-page">
                    <h1>Thank you for using!!!  </h1>
                    @*<h4>Innovision , you have successfully Logged out!!!</h4>*@
                    <h4>Vision , Page is Coming Soon....!!!</h4>
                    <hr>
                    <button class="btn btn-default login-again-btn" type="button" onclick="location.href='@Url.Action("Welcome", "Login" )'">Click On Me</button>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="~/AlljsAndCSS/js/jquery-1.11.3.min.js"></script>
    <script src="~/AlljsAndCSS/js/bootstrap.min.js"></script>
</body>
</html>
