
@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--Start of main content 2-->
<div class="main-content3 xs-max-height vmv-bg">
    @*<img src="~/AllJsAndCss/images/vmv-bg.jpg" />*@
    <!--Start of content-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-40">
            <div class="col-xs-12 col-sm-5 text-center">
                
                <img src="~/AllJsAndCss/images/vmv-circle.png" class="img-responsive" alt="">
            </div><!-- /.col -->
            <div class="col-xs-12 col-sm-7">

                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="guiding-quote">Our Mission - <span>WE ALL ARE THE KEY TO OUR SUCCESS</span></h2>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-2">
                       
                        <img src="~/AllJsAndCss/images/mission-1.jpg" class="value-img" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="guide-box">
                            <h3>Technological Excellence is our mission.</h3>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-2">
                        
                        <img src="~/AllJsAndCss/images/mission-2.jpg" class="value-img" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="guide-box">
                            <h3>Future proof results for our customers are our goal.</h3>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-2">
                        
                        <img src="~/AllJsAndCss/images/mission-3.jpg" class="value-img" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="guide-box">
                            <h3>Knowledge is the key.</h3>
                        </div>
                    </div>
                </div>

                <div class="row assignfixedwidth">
                    <div class="col-xs-12 padding-reset" style="margin-bottom: 20px;">
                        <a href="@Url.Action("vision","GuidingPricnipale")" class="btn btn-info news-btn">VISION</a>
                        <a href="@Url.Action("Values","GuidingPricnipale")" class="btn btn-info news-btn">VALUES</a>
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <!--End of content-->


</div>

<!--End of main content 2-->

