
@{
    ViewBag.Title = "Values";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--Start of main content 2-->
<div class="main-content3 xs-max-height vmv-bg">

    <!--Start of content-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-40">
            <div class="col-xs-12 col-sm-5 text-center">
               
                <img src="~/AllJsAndCss/images/vmv-circle.png" style="margin-top: 25%;" class="img-responsive" alt="">
            </div><!-- /.col -->
            <div class="col-xs-12 col-sm-7">

                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="guiding-quote">Our Values - <span>WE ALL ARE THE KEY TO OUR SUCCESS</span></h2>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-2">
                        <img src="~/AllJsAndCss/images/values-1.jpg" class="value-img" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="guide-box">
                            <h3>The focus is on our customers.</h3>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-2">
                        <img src="~/AllJsAndCss/images/values-2.jpg" class="value-img" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="guide-box">
                            <h3>Our employees are the key to success.</h3>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-2">
                        <img src="~/AllJsAndCss/images/values-3.jpg" class="value-img" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="guide-box">
                            <h3>Our integrity is the basis of everything we do.</h3>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-2">
                        <img src="~/AllJsAndCss/images/values-4.jpg" class="value-img" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="guide-box">
                            <h3>Our diversity opens up new opportunities.</h3>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12 col-sm-2">
                        <img src="~/AllJsAndCss/images/values-5.jpg" class="value-img" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <div class="guide-box">
                            <h3>Our culture of innovation is trend-setting.</h3>
                        </div>
                    </div>
                </div>

                <div class="row assignfixedwidth">
                    <div class="col-xs-12 padding-reset" style="margin-bottom: 20px;">
                        <a href="@Url.Action("vision","GuidingPricnipale")" class="btn btn-info news-btn">VISION</a>
                        <a href="@Url.Action("Mission","GuidingPricnipale")" class="btn btn-info news-btn">MISSION</a>
                    </div><!-- /.col -->
                </div><!-- /.row -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <!--End of content-->


</div>

<!--End of main content 2-->

