
@{
    ViewBag.Title = "Trainingcalendar";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}
<link href="~/AllJsAndCss/css/inner-pages.css" rel="stylesheet" />

<script src="~/AllJsAndCss/js/jquery.filterizr.js"></script>
<script>
        $(function () {
            $('.filtr-container').filterizr();
            $('.gallery-filter-tab li').click(function() {
            $(this).addClass('filtr-active');
            $(this).siblings().removeClass('filtr-active');
        });
        });
</script>
<!--Start of main content 2-->
<div class="main-content2 light-blue-bg">

    <!--Start of banner header-->
    <div class="container-fluid grey-bg-f3" style="background: url(/AllJsAndCss/images/training-banner.jpg);background-size: cover;background-repeat: no-repeat;position: relative;overflow: hidden;margin-bottom: 20px;">
        <div class="overlay-header"></div>
        <div class="row assignfixedwidth rp-20">
            <div class="col-xs-12 text-center">
                <div class="banner-header">
                    <h3><i class="fa fa-calendar"></i> TRAINING CALENDAR</h3>
                    <a href="@Url.Action("Training","Training")" class="btn btn-primary news-btn" style="margin:0;"> Go Back</a>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <!--End of banner header-->
    <!--Start of gallery-->
    <div class="container-fluid light-blue-bg">
        <div class="row assignfixedwidth">
            <div class="col-xs-12 white-bg section-box-shadow main-content2">

                <div class="row">
                    <div class="col-xs-12 text-center">

                        <ul class="gallery-filter-tab">
                            <li class="filtr-active" data-filter="all">All</li>
                            <li data-filter='2019'>2019</li>
                            <li data-filter='2018'>2018</li>
                            <li data-filter='2017'>2017</li>
                            <li data-filter='2016'>2016</li>
                            <li data-filter='2015'>2015</li>
                        </ul>

                    </div><!-- end of col -->
                </div><!-- end of row -->

                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                        <div class="row filtr-container">

                            <div class="col-xs-12 filtr-item" data-category='2019'>
                                <a href="~/pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Basic Mechanical training for Electrial field surveyors. Safety awareness, complaint discussion</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12 filtr-item" data-category='2019'>
                                <a href="~/pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Referesher training on ASME Section IX</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12 filtr-item" data-category='2018'>
                                <a href="~/pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Penetrant Testing, heat treatment, RT</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12 filtr-item" data-category='2018'>
                                <a href="pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Raw Material ,Welding ,WPS/PQR, Lab testing and Safety</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12 filtr-item" data-category='2018'>
                                <a href="~/pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Transformer,Heater, cable, motor, PT, MTC review, Safety awarness</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12 filtr-item" data-category='2017'>
                                <a href="~/pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Inspection of Raw Material, RT, Insrtumentation</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12 filtr-item" data-category='2017'>
                                <a href="pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Inspection Report Writing For Bulk Items</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12 filtr-item" data-category='2016'>
                                <a href="~/pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Seniors Meeting for VR Preparation & customet complaint dicussion, random sampling</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12 filtr-item" data-category='2015'>
                                <a href="~/pdf/12x18 quality policy.pdf" target="_blank" class="training-calender-list section-box-shadow"><span><i class="fa fa-file-pdf-o"></i> PDF</span> &nbsp;Inspection report writing for Bulk Items & discussion on recent complaints</a>
                            </div><!-- end of col: filter-item::yearly folder -->


                        </div><!-- row -->
                    </div><!-- col -->
                </div><!-- row : filter-container -->

            </div>
        </div>
    </div>
    <!--End of gallery-->

</div>

<!--End of main content 2-->

