
@{
    ViewBag.Title = "TrainingFiels";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}
<link href="~/AllJsAndCss/css/inner-pages.css" rel="stylesheet" />
<!--Start of main content 2-->
<div class="main-content2 light-blue-bg">



    <!--Start of gallery-->
    <div class="container-fluid light-blue-bg">
        <div class="row assignfixedwidth">
            <div class="col-xs-12 white-bg section-box-shadow main-content2">

                <div class="row" style="margin-top: 15px;">
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                        <h3 class="dynamic-page-title dynamic-page-title-2" style="white-space: nowrap;width: 25%;overflow: hidden;text-overflow: ellipsis;">
                            <i class="fa fa-folder-open"></i> Basic Mechanical  Training for Electrical Field Surveyors. Safety Awareness, Complaint Discussion.
                        </h3>
                        <a href="@Url.Action("TrainingList","Training")" class="btn btn-info dynamic-function-btn dynamic-function-btn-2">Go Back</a>
                    </div><!-- end of col -->
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                        <hr class="custom-hr">
                    </div><!-- /.col -->
                </div><!-- end of row -->



                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10">
                        <div class="row">

                            <div class="col-xs-12">
                               
                                <a href="pdf/12x18 quality policy.pdf" class="training-calender-list section-box-shadow"><img src="~/AllJsAndCss/images/library-types/pdf.png" width="15" alt=""> &nbsp;Basic Mechanical  training for Electrical field surveyors. Safety Awareness, complaint discussion Presentation</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="pdf/12x18 quality policy.pdf" class="training-calender-list section-box-shadow"><img src="~/AllJsAndCss/images/library-types/pdf.png" width="15" alt=""> &nbsp;Basic Mechanical  training for Electrical field surveyors. Safety Awareness, complaint discussion - Mod 1</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="pdf/12x18 quality policy.pdf" class="training-calender-list section-box-shadow"><img src="~/AllJsAndCss/images/library-types/pdf.png" width="15" alt=""> &nbsp;Basic Mechanical  training for Electrical field surveyors. Safety Awareness, complaint discussion - Mod 2</a>
                            </div><!-- end of col: filter-item::yearly folder -->

                            <div class="col-xs-12">
                                <a href="pdf/12x18 quality policy.pdf" class="training-calender-list section-box-shadow"><img src="~/AllJsAndCss/images/library-types/pdf.png" width="15" alt=""> &nbsp;Basic Mechanical  training for Electrical field surveyors. Safety Awareness, complaint discussion - Mod 3</a>
                            </div><!-- end of col: filter-item::yearly folder -->


                        </div><!-- row -->
                    </div><!-- col -->
                </div><!-- row : filter-container -->

            </div>
        </div>
    </div>
    <!--End of gallery-->

</div>

<!--End of main content 2-->

