
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
    ///added by Savio S for error control on 2nd May 2024
}

@*<h2>ErrorPage</h2>*@

<div>
    @*@{
            var a = Server.GetLastError();
        }*@
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <p style="font-weight:bold;">Exception: </p><br /> <p>@ViewBag.ExceptionMessage</p>
    @*<p style="font-weight:bold;">Stack Trace: </p><br /><p>@ViewBag.StackTrace</p>*@
    <h6>@Html.ActionLink("Go Back To Home Page", "Welcome", "Login")</h6>

    <p>For Application related queries please drop a mail to <u><b>DL-India_app-support@tuev-nord.de</b></u></p>
    <p>For VPN related queries please drop a mail to <u><b>support.india@tuv-nord.com</b></u></p>
</div>