
@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--Start of main content 2-->
<div class="main-content2">
    <div class="container-fluid white-bg">
        <div class="row assignfixedwidth">
            <div class="col-xs-12">
                <div class="listing" style="margin-top: 20px;">
                    <div class="news-basic-details2">
                        <img src="~/AllJsAndCss/news/World_Food_Safety_Day_3.jpg" class="img-thumbnail news-img-inner" alt="">
                        <h3>TUV India celebrated the World Food Safety Day at its premier Food Testing Laboratory located at Pune.</h3>
                        <h4><strong>Date</strong> : 06/07/2019</h4>
                        <p>On 7th June 2019, TUV India celebrated the World Food Safety Day at its premier Food Testing Laboratory located at Pune. Awareness posters were prepared and activities were conducted in accordance to the guidance documents received from the honorable CEO of FSSAI.</p>
                        <p>At exactly 11 AM all the employees of TUV India Pune assembled outside their beautiful laboratory building to take the Pledge of Food Safety. They were honored to have top representatives from some of the most well known hotel chains join in for this activity. Among these esteemed dignitaries with General Managers, Executive Chefs and F&B Managers from hotel chains such as Radisson Blu, Holiday Inn, Orchid and Sayaji.</p>
                        <p>The team at TUV India displayed a lot of talent and creativity in further promoting the awareness about food safety by representing this through a large scale traditional Indian rangoli. The '5 keys to food safety' were represented in a very unique manner.</p>
                        <p>As one of the premium food testing laboratories in India and a continued partner lab to FSSAI, TUV India acknowledges is role in spreading the awareness of the importance of food safety in the country. It is proud to be a part of this wonderful initiative and campaign that is being run by FSSAI which surely is amongst the most progressive national food regulators across the world today.</p>
                        <img src="~/AllJsAndCss/news/World_Food_Safety__Day_1.jpg" class="img-thumbnail" style="margin-top:10px;" alt="">
                        <img src="~/AllJsAndCss/news/World_Food_Safety_Day_4.jpg" class="img-thumbnail" style="margin-top:10px;" alt="">
                        <a href="@Url.Action("News","News")" class="transition-all btn news-btn btn-primary">Go Back</a>
                    </div>
                </div><!--end of listing-->
            </div><!--end of news-->
        </div>
    </div>
</div>

<!--End of main content 2-->


