@model TuvVision.Models.InvoiceInstructionModel
@{
    ViewBag.Title = "SAPInvoice";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}
@*<--Code Added By Rahul -->*@
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />*@
<style>
    .feedback-form-box {
        padding: 25px;
        border-radius: 15px;
        background-color: #f1f1f1;
        padding: 25px;
        border-radius: 15px;
        background-color: #f1f1f1;
        margin: 0 auto;
        margin-top: 60px;
        width: 800px;
        float: none;
    }

    @@media only screen and (max-width: 767px) {
        .feedback-form-box {
            padding: 25px;
            border-radius: 15px;
            background-color: #f1f1f1;
            width: 100% !important;
            margin: 0 auto;
            margin-top: 60px;
        }
    }

    }
</style>
<div class="container-fluid min-height-100vh">
    <div class="row assignfixedwidth rp-15 ">
        <div class="col-xs-12">
            <h3 class="dynamic-page-title dynamic-page-title-2  text-left">Upload SAP Invoice</h3>
        </div>
        <!-- /.col -->
        <div class="col-xs-12">
            <hr class="custom-hr">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-12 grey-bg feedback-form-box">
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <div class="form-group">
                            <label>Upload Excel:</label>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-8 col-md-10">
                        <div class="form-group">
                            <input type="file" name="FileUpload" class="form-control" required id="FileUpload" class="inputfile">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                        <div>
                            <a href="~/Excel/SAPInvoice.xlsx" >Download Template</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>