
@{
    ViewBag.Title = "Clusterheadspeak";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--Start of main content 2-->
<div class="main-content3 xs-max-height">

    <!--Start of MD Speak-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-40">

            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-9">
                        <div class="speak-content">
                            <p class="speak-content-title2">Mr. Sandeep Deshpande</p>
                            <p class="speak-content-subtitle">Executive Vice President, Inspection Services</p>
                            <p>
                                Dear All<br>
                                It feels great pride to interact with all Inspection Services team members through TUV India Inspection Management and Execution System (TIIMES) . 
                                
                                The rapid growth of Inspection Services in the recent past has been made possible due to a combination of success factors. The prime factors are 
                                
                                the strong TUV NORD reputation and brand along with the strong support by TUV India Management especially our Managing Director. The underlying 
                                
                                factors are the fantastic team of Managers, Inspectors who are technically strong and commercially aware as well as the rapidly growing team. 
                                
                                For such important portfolio of TUV India and a deserving team we have come up with TIIMES  which is very interactive and user-friendly. 
                                
                                It will be also extended to a mobile application shortly. I wish you all an improved and efficient work experience with TIIMES !
                            </p>
                        </div>
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-3 text-center">
                       
                        <img src="~/AllJsAndCss/images/Sandeep Deshpande.jpg" class="img-responsive img-thumbnail md-photo2" alt="">
                    </div><!-- /.col -->
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-sm-9">
                        <div class="speak-content">
                            <p class="speak-content-title2">Mr. V Viswanathan</p>
                            <p class="speak-content-subtitle">Executive Vice President, Renewables, Railway and Infra</p>
                            <p>
                                Greetings to TUV India energy Team!<br>

                                At TUV India Energy team, we aspire to be a technologically progressive enterprise with a persistent learning curve.  We welcome our fellow colleagues to be a part of this endevour.

                                We at TUV India take immense pride in Customer Centric policies which essentially puts our belief in the customer’s best interests.

                                TUV India is proud of rearing professionals and proficient leaders who can take responsibility as a role model and can act impartially along with integrity.

                                We also believe that in our organization our strongest pillars are our employees and therefore inculcating a strong culture of futuristic innovation and creating space for fresh ideas is essential. We encourage a sense of personal contribution to the team and consequently to the company’s success.

                                Looking forward for your valuable contributions to the energy team.
                            </p>
                        </div>
                    </div><!-- /.col -->

                    <div class="col-xs-12 col-sm-3 text-center">
                       
                        <img src="~/AllJsAndCss/images/VV Sir Photo.JPG" class="img-responsive img-thumbnail md-photo2" alt="">
                    </div><!-- /.col -->
                </div>
                <hr>
            </div>



        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <!--End of MD Speak-->

</div>

<!--End of main content 2-->

