
@{
    ViewBag.Title = "HSC Policy";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--Start of main content 2-->
<div class="main-content2 xs-max-height">
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-40">
            <div class="col-xs-12 col-sm-70">
                <div class="guiding-quote">                    
                    <embed class="guiding-quote" src="@Url.Action("GetHSCPolicyPDF","AboutUs")" style="width:100%;height:500px;" />
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div>

<!--End of main content 2-->

