
@{
    ViewBag.Title = "MdSpeak";
    Layout = "~/Views/Shared/_TuvVision.cshtml";
}

<!--Start of main content 2-->
<div class="main-content2 xs-max-height">

    <!--Start of MD Speak-->
    <div class="container-fluid">
        <div class="row assignfixedwidth rp-40">

            <div class="col-xs-12 col-sm-7">
                <div class="speak-content" style="padding-top:0;">
                    <p class="speak-content-title2">Mr. Manish Bhuptani</p>
                    <p class="speak-content-subtitle">Managing Director - TUV India</p>
                    <p>Dear Colleagues</p>
                    <p> I take this opportunity to welcome all team members to our newly revamped, highly interactive and user friendly TUV INDIA INSPECTION MANAGEMENT & EXECUTION SYSTEM (TIIMES).</p>
                    <p> While we all know Digitisation is the future of all businesses, this is our first step towards digitising our internal processes which are very crucial for our Services.</p>
                   
                    <p> TUV India has always believed and worked with futuristic approach. Ease of the processes is a necessity of our fastest growing service portfolio and looking at same we have introduced this tool with simplistic interface which can be used by all team members from the receipt of the enquiry to submission of inspection report as per their assigned role.</p>
                   
                    <p> Our team has taken utmost care to include all necessary templates as per our process requirements and corporate guideline so that it minimizes the errors happening in manual work. All the necessary policies and documents will be available just a click away.</p>
                   
                    <p> The tool will also update you with required knowledge through various literature and documents in Library. Training section will display our calendars all over India and the material related to it. The tool will also keep you informed about recent developments within the company as well as market through News and Gallery section.</p>
                   
                    <p> We have plans to extend the tool from Web Portal to a Mobile application for our Inspection Engineers which will further ease out Communication, Coordination, Data Entry and Reporting.</p>
                   
                    <p> I wish you all the best for a wonderful experience with TUV INDIA INSPECTION MANAGEMENT & EXECUTION SYSTEM (TIIMES).</p>
</div>
            </div><!-- /.col -->

            <div class="col-xs-12 col-sm-5">
               
                <img src="~/AllJsAndCss/images/md.jpg" class="img-responsive img-thumbnail md-photo" alt="">
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <!--End of MD Speak-->

</div>

<!--End of main content 2-->

