@*@model TuvVision.Models.NCR*@
@model IEnumerable<TuvVision.Models.NCR>
@foreach (var item in ViewData["Test"] as IEnumerable<TuvVision.Models.NCR>)
{
    <html>
    <head>
        @*<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">*@
        <title>NON CONFORMANCE REPORT</title>
        <style>
            body {
                margin: 0;
                font-family:'TNG Pro';
                font-size: 12px;
            }

            table tr td, table tr th {
                vertical-align: top;
                padding: 6px;
            }

            table.top-header > thead > tr > th {
                border-top: 2px solid #000;
                border-left: 2px solid #000;
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
            }

                table.top-header > thead > tr > th:nth-of-type(2) {
                    border-left: 0px solid #000;
                    border-right: 0px solid #000;
                }

            .check-container {
                display: block;
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                margin: 5px 0 0 12px;
                font-size: 12px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

                .check-container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 23px;
                width: 18px;
                background-color: #fff;
                border: 1px solid #000;
            }

                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

            .check-container input:checked ~ .checkmark:after {
                display: block;
            }

            .check-container .checkmark:after {
                left: 5px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid #000;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .page1 {
                position: relative;
                page-br/eak-after: always;
                width: 1300px;
                margin: auto;
            }
        </style>
    </head>
    <body style="margin:0 auto;font-family:'TNG Pro';">
        <div class="page1">
            <table width="100%" cellpadding="5" cellspacing="0" class="top-header">
                <thead>
                    <tr>
                        
                        <th width="70%" style="text-align: center; font-weight:normal;">
                            <span style="font-size: 18px; font-weight: bold;"> NON-CONFORMANCE REPORT</span>
                            <span>No. _____________________</span>
                            <span style="font-size:18px; font-weight: bold;">TUVI CONTROL NO.: ( Copy from visit report )</span>
                        </th>
                        <th width="15%">
                            <span style="font-size: 18px; margin: 31px auto; line-height: 84px;">Page: 1 of 1</span>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            
            <table width="100%" border="1" cellpadding="3" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align: left;"><strong>Project Name : ( Copy from Visit report )</strong></th>
                        <th style="text-align: left;"><strong>Client : ( Copy from Visit report)</strong></th>
                    </tr>
                    <tr>
                        <th style="text-align: left;"><strong>Vendor/Sub vendor( Copy from Visit report )</strong></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Item/Equipment :</td>
                    </tr>
                    <tr>
                        <td colspan="2">Reference document (drawing, specification, ITP) :</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="90">Description of the nonconformity :</td>
                    </tr>
                    <tr>
                        <td>NCR raised by: (name & sign) <strong>( Copy from Visit report )</strong></td>
                        <td>Date: <strong>( Copy from Visit report )</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" height="90">Proposed correction(by vendor) :</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="90">Proposed corrective action(by vendor):</td>
                    </tr>
                    <tr>
                        <td height="80">
                            <strong>TUV India/Client/DEC(If applicable):</strong> 
                            <label class="check-container">
                                Proposed Corrective Action Reviewed and found acceptable
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="check-container">
                                Authorized to use with concession
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>Remarks</td>
                    </tr>
                    <tr>
                        <td height="80">
                            <label class="check-container">
                                Correction found in order.
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="check-container">
                                Corrective action implemented.
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td>Remarks</td>
                    </tr>
                    <tr>
                        <td height="50">NCR closed by:</td>
                        <td>Date:</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="20">Attached documents:</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
}


